# P3 Jupyter notebook of group Tea4Two - ADA 2023

Authors:
- Jean Lefort
- Pierre-Marie Esmenjaud
- Hugo GÃ©rard
- Guillaume Salha
- Paul Blossier

# 0. Import librairies

In this section, we simply import and prepare the data sets, as we assume alians could do.

## 0.1. Importing the datas

In [1]:
%%capture
# Install dependencies
!{sys.executable} -m pip install -r "./_SET_UP/requirements.txt"

Import libraries.

In [17]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import plotly.express as px
import plotly.graph_objects as go
from IPython.display import Image
from wordcloud import WordCloud
from plotly.subplots import make_subplots
import plotly.graph_objs as go
from scipy.signal import correlate
from scipy.signal import savgol_filter
import copy
import pandas as pd
import numpy as np
import seaborn as sn

import plotly.offline as py
import re

from IPython.display import Image
from wordcloud import WordCloud
from plotly.subplots import make_subplots
from IPython.display import HTML, display

py.offline.init_notebook_mode(connected=True)

In [16]:
# colors 
colors_hex = ["#B1740F", "#D8A245", "#FFD07B", "#FEC457", "#FDB833", "#6AADF1", "#419BF7", "#1789FC", "#0D68C5", "#02478D"]
colors_rgba = []
for color in colors_rgba:
    colors_rgba.append(tuple(int(color.lstrip('#')[i:i+2], 16)/255 for i in (0, 2, 4)) + (1,))

color_html = ""
for color in colors_hex:
    color_html += f"<div style='background-color:{color}; width: 50px; height: 20px; display: inline-block; margin-right: 5px;'></div>"

display(HTML(color_html))

Import the external functions

In [12]:
# Import external functions
from EXTERNAL_FUNCTIONS import DataImport
from EXTERNAL_FUNCTIONS import DatasetTreatment
from EXTERNAL_FUNCTIONS import NetworkPlot
from EXTERNAL_FUNCTIONS import SaveOrShowFigure

Import the dataset MovieSummaries

In [18]:
%%capture
PATH_IN = './DATA/MovieSummaries'

# Import data
characterDF_without_ethnicity,movieDF,nameDF,plotDF,tvtropDF = DataImport.OpenMainMovieDatasetDF(PATH_IN)
movieDF = DatasetTreatment.MovieDF_Treatment(movieDF)
# Main dataframe
dataframeList = [characterDF_without_ethnicity,movieDF,nameDF,plotDF,tvtropDF]
dataframeNameList = ['characterDF_without_ethnicity','movieDF','nameDF','plotDF','tvtropDF']

In [19]:
# display dataframes of the dataset
display(characterDF_without_ethnicity.head(), 
        movieDF.head(), 
        nameDF.head(), 
        plotDF.head(), 
        tvtropDF.head())

,Wikipedia movie ID,Freebase movie ID,Movie release date,Character Name,Actor DOB,Actor gender,Actor height,Actor ethnicity,Actor Name,Actor age at movie release,Freebase character map
0,975900,/m/03vyhn,2001-08-24,Akooshay,1958-08-26,F,1.620,NaN,Wanda De Jesus,42.0,/m/0bgchxw
1,975900,/m/03vyhn,2001-08-24,Lieutenant Melanie Ballard,1974-08-15,F,1.780,/m/044038p,Natasha Henstridge,27.0,/m/0jys3m
2,975900,/m/03vyhn,2001-08-24,Desolation Williams,1969-06-15,M,1.727,/m/0x67,Ice Cube,32.0,/m/0jys3g
3,975900,/m/03vyhn,2001-08-24,Sgt Jericho Butler,1967-09-12,M,1.750,NaN,Jason Statham,33.0,/m/02vchl6
4,975900,/m/03vyhn,2001-08-24,Bashira Kincaid,1977-09-25,F,1.650,NaN,Clea DuVall,23.0,/m/02vbb3r

,Wikipedia movie ID,Freebase movie ID,Movie name,Movie release date,Movie box office revenue,Movie runtime,Movie languages,Movie countries,Movie genres,Freebase Language,Freebase country,Freebase genre
0,975900,/m/03vyhn,Ghosts of Mars,2001-08-24,14010832.0,98.0,[English Language],[United States of America],"[Thriller, Science Fiction, Horror, Adventure,...",[/m/02h40lc],[/m/09c7w0],"[/m/01jfsb, /m/06n90, /m/03npn, /m/03k9fj, /m/..."
1,3196793,/m/08yl5d,Getting Away with Murder: The JonBenÃ©t Ramsey ...,2000-02-16,NaN,95.0,[English Language],[United States of America],"[Mystery, Biographical film, Drama, Crime Drama]",[/m/02h40lc],[/m/09c7w0],"[/m/02n4kr, /m/03bxz7, /m/07s9rl0, /m/0hj3n01]"
2,28463795,/m/0crgdbh,Brun bitter,1988,NaN,83.0,[Norwegian Language],[Norway],"[Crime Fiction, Drama]",[/m/05f_3],[/m/05b4w],"[/m/0lsxr, /m/07s9rl0]"
3,9363483,/m/0285_cd,White Of The Eye,1987,NaN,110.0,[English Language],[United Kingdom],"[Thriller, Erotic thriller, Psychological thri...",[/m/02h40lc],[/m/07ssc],"[/m/01jfsb, /m/0glj9q, /m/09blyk]"
4,261236,/m/01mrr1,A Woman in Flames,1983,NaN,106.0,[German Language],[Germany],[Drama],[/m/04306rv],[/m/0345h],[/m/07s9rl0]

  Character Name Freebase character map
0  Stuart Little              /m/0k3w9c
1  Stuart Little              /m/0k3wcx
2  Stuart Little              /m/0k3wbn
3       John Doe              /m/0jyg35
4       John Doe              /m/0k2_zn

   Wikipedia movie ID                                               Plot
0            23890098  Shlykov, a hard-working taxi driver and Lyosha...
1            31186339  The nation of Panem consists of a wealthy Capi...
2            20663735  Poovalli Induchoodan  is sentenced for six yea...
3             2231378  The Lemon Drop Kid , a New York City swindler,...
4              595909  Seventh-day Adventist Church pastor Michael Ch...

,stereotype,char,movie,id,actor
0,absent_minded_professor,Professor Philip Brainard,Flubber,/m/0jy9q0,Robin Williams
1,absent_minded_professor,Professor Keenbean,Richie Rich,/m/02vchl3,Michael McShane
2,absent_minded_professor,Dr. Reinhardt Lane,The Shadow,/m/0k6fkc,Ian McKellen
3,absent_minded_professor,Dr. Harold Medford,Them!,/m/0k6_br,Edmund Gwenn
4,absent_minded_professor,Daniel Jackson,Stargate,/m/0k3rhh,James Spader

Ethnicities are only given by their FreebaseID (e.g. '/m/044038p'). We want to obtain the correspondence between this Freebase and the ethnic groups in English. This is done in the file `Ethnicity_matchning.py`. This produces the .csv file `Ethnicities.csv`, which is laoded in the following cell.

In [20]:
Ethnicity = pd.read_csv('./DATA/Ethnicities.csv')
characterDF = pd.merge(characterDF_without_ethnicity, Ethnicity, on='Actor ethnicity', how='left')
characterDF

,Wikipedia movie ID,Freebase movie ID,Movie release date,Character Name,Actor DOB,Actor gender,Actor height,Actor ethnicity,Actor Name,Actor age at movie release,Freebase character map,ethinicty (en)
0,975900,/m/03vyhn,2001-08-24,Akooshay,1958-08-26,F,1.620,NaN,Wanda De Jesus,42.0,/m/0bgchxw,NaN
1,975900,/m/03vyhn,2001-08-24,Lieutenant Melanie Ballard,1974-08-15,F,1.780,/m/044038p,Natasha Henstridge,27.0,/m/0jys3m,NaN
2,975900,/m/03vyhn,2001-08-24,Desolation Williams,1969-06-15,M,1.727,/m/0x67,Ice Cube,32.0,/m/0jys3g,African Americans
3,975900,/m/03vyhn,2001-08-24,Sgt Jericho Butler,1967-09-12,M,1.750,NaN,Jason Statham,33.0,/m/02vchl6,NaN
4,975900,/m/03vyhn,2001-08-24,Bashira Kincaid,1977-09-25,F,1.650,NaN,Clea DuVall,23.0,/m/02vbb3r,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
450664,913762,/m/03pcrp,1992-05-21,Elensh,1970-05,F,NaN,NaN,Dorothy Elias-Fahn,NaN,/m/0kr406c,NaN
450665,913762,/m/03pcrp,1992-05-21,Hibiki,1965-04-12,M,NaN,NaN,Jonathan Fahn,27.0,/m/0kr405_,NaN
450666,28308153,/m/0cp05t9,1957,NaN,1941-11-18,M,1.730,/m/02w7gg,David Hemmings,15.0,/m/0g8ngmc,English people
450667,28308153,/m/0cp05t9,1957,NaN,NaN,NaN,NaN,NaN,Roberta Paterson,NaN,/m/0g8ngmj,NaN
450668,28308153,/m/0cp05t9,1957,NaN,NaN,NaN,NaN,NaN,John Rogers,NaN,/m/0g8ngmw,NaN

In [21]:
# Display description of the dataframes
for df, name in zip(dataframeList, dataframeNameList):
    print(f"------------ {name} ------------")
    display(df.describe())
    print("-------------------------------------\n")

------------ characterDF_without_ethnicity ------------

       Wikipedia movie ID   Actor height  Actor age at movie release
count        4.506690e+05  154824.000000               292556.000000
mean         1.396975e+07       1.788893                   37.788523
std          1.079662e+07       4.379940                   20.587870
min          3.300000e+02       0.610000                -7896.000000
25%          3.759292e+06       1.676400                   28.000000
50%          1.189065e+07       1.750000                   36.000000
75%          2.366501e+07       1.830000                   47.000000
max          3.750192e+07     510.000000                  103.000000

-------------------------------------

------------ movieDF ------------

       Wikipedia movie ID  Movie box office revenue  Movie runtime
count        8.174100e+04              8.401000e+03   6.129100e+04
mean         1.740784e+07              4.799363e+07   1.118192e+02
std          1.098791e+07              1.121753e+08   4.360070e+03
min          3.300000e+02              1.000000e+04   0.000000e+00
25%          7.323695e+06              2.083193e+06   8.100000e+01
50%          1.777899e+07              1.063969e+07   9.300000e+01
75%          2.715573e+07              4.071696e+07   1.060000e+02
max          3.750192e+07              2.782275e+09   1.079281e+06

-------------------------------------

------------ nameDF ------------

       Character Name Freebase character map
count            2666                   2666
unique            970                   2661
top        Daffy Duck             /m/0gcy23_
freq               42                      2

-------------------------------------

------------ plotDF ------------

       Wikipedia movie ID
count        4.230300e+04
mean         1.497051e+07
std          1.111994e+07
min          3.300000e+02
25%          4.565802e+06
50%          1.284591e+07
75%          2.485168e+07
max          3.750192e+07

-------------------------------------

------------ tvtropDF ------------

,stereotype,char,movie,id,actor
count,501,501,501,501,501
unique,72,434,383,447,350
top,crazy_jealous_guy,Captain Jack Sparrow,Pirates of the Caribbean: Dead Man's Chest,/m/0k1xxm,Robert De Niro
freq,25,5,7,5,9

-------------------------------------

## 0.2. First looks at the datasets

In [22]:
# Display description of the dataframes
for df, name in zip(dataframeList, dataframeNameList):
    if name == 'plotDF':
        continue
    print(f"------------ {name} ------------")
    display(df.describe())
    print("-------------------------------------\n")

------------ characterDF_without_ethnicity ------------

       Wikipedia movie ID   Actor height  Actor age at movie release
count        4.506690e+05  154824.000000               292556.000000
mean         1.396975e+07       1.788893                   37.788523
std          1.079662e+07       4.379940                   20.587870
min          3.300000e+02       0.610000                -7896.000000
25%          3.759292e+06       1.676400                   28.000000
50%          1.189065e+07       1.750000                   36.000000
75%          2.366501e+07       1.830000                   47.000000
max          3.750192e+07     510.000000                  103.000000

-------------------------------------

------------ movieDF ------------

       Wikipedia movie ID  Movie box office revenue  Movie runtime
count        8.174100e+04              8.401000e+03   6.129100e+04
mean         1.740784e+07              4.799363e+07   1.118192e+02
std          1.098791e+07              1.121753e+08   4.360070e+03
min          3.300000e+02              1.000000e+04   0.000000e+00
25%          7.323695e+06              2.083193e+06   8.100000e+01
50%          1.777899e+07              1.063969e+07   9.300000e+01
75%          2.715573e+07              4.071696e+07   1.060000e+02
max          3.750192e+07              2.782275e+09   1.079281e+06

-------------------------------------

------------ nameDF ------------

       Character Name Freebase character map
count            2666                   2666
unique            970                   2661
top        Daffy Duck             /m/0gcy23_
freq               42                      2

-------------------------------------

------------ tvtropDF ------------

,stereotype,char,movie,id,actor
count,501,501,501,501,501
unique,72,434,383,447,350
top,crazy_jealous_guy,Captain Jack Sparrow,Pirates of the Caribbean: Dead Man's Chest,/m/0k1xxm,Robert De Niro
freq,25,5,7,5,9

-------------------------------------

In [23]:
# Check for missing values
for df, name in zip(dataframeList, dataframeNameList):
    print(f"------------ {name} ------------")
    missing_values = df.isnull().sum()
    total_values = df.shape[0]  # Total number of rows in the DataFrame

    # Calculate the percentage of missing values
    missing_percentage = (missing_values / total_values) * 100

    # Total number of values for each column
    total_column_values = df.count()

    # Display the results
    missing_info = pd.DataFrame({
        'Total Missing': missing_values,
        'Total Values': total_column_values,
        'Percentage Missing': missing_percentage,
    })

    display(missing_info)
    print("-------------------------------------\n")

------------ characterDF_without_ethnicity ------------

                            Total Missing  Total Values  Percentage Missing
Wikipedia movie ID                      0        450669            0.000000
Freebase movie ID                       0        450669            0.000000
Movie release date                   9995        440674            2.217814
Character Name                     257875        192794           57.220488
Actor DOB                          106145        344524           23.552763
Actor gender                        45609        405060           10.120288
Actor height                       295845        154824           65.645740
Actor ethnicity                    344611        106058           76.466542
Actor Name                           1228        449441            0.272484
Actor age at movie release         158113        292556           35.084064
Freebase character map                  0        450669            0.000000

-------------------------------------

------------ movieDF ------------

                          Total Missing  Total Values  Percentage Missing
Wikipedia movie ID                    0         81741            0.000000
Freebase movie ID                     0         81741            0.000000
Movie name                            0         81741            0.000000
Movie release date                 6902         74839            8.443743
Movie box office revenue          73340          8401           89.722416
Movie runtime                     20450         61291           25.018045
Movie languages                       0         81741            0.000000
Movie countries                       0         81741            0.000000
Movie genres                          0         81741            0.000000
Freebase Language                     0         81741            0.000000
Freebase country                      0         81741            0.000000
Freebase genre                        0         81741            0.000000

-------------------------------------

------------ nameDF ------------

                        Total Missing  Total Values  Percentage Missing
Character Name                      0          2666                 0.0
Freebase character map              0          2666                 0.0

-------------------------------------

------------ plotDF ------------

                    Total Missing  Total Values  Percentage Missing
Wikipedia movie ID              0         42303                 0.0
Plot                            0         42303                 0.0

-------------------------------------

------------ tvtropDF ------------

            Total Missing  Total Values  Percentage Missing
stereotype              0           501                 0.0
char                    0           501                 0.0
movie                   0           501                 0.0
id                      0           501                 0.0
actor                   0           501                 0.0

-------------------------------------

In [24]:
# Print column names
for df, name in zip(dataframeList, dataframeNameList):
    print(f"------------ {name} ------------")
    display(df.columns)
    print("-------------------------------------\n")

------------ characterDF_without_ethnicity ------------

Index(['Wikipedia movie ID', 'Freebase movie ID', 'Movie release date',
       'Character Name', 'Actor DOB', 'Actor gender', 'Actor height',
       'Actor ethnicity', 'Actor Name', 'Actor age at movie release',
       'Freebase character map'],
      dtype='object')

-------------------------------------

------------ movieDF ------------

Index(['Wikipedia movie ID', 'Freebase movie ID', 'Movie name',
       'Movie release date', 'Movie box office revenue', 'Movie runtime',
       'Movie languages', 'Movie countries', 'Movie genres',
       'Freebase Language', 'Freebase country', 'Freebase genre'],
      dtype='object')

-------------------------------------

------------ nameDF ------------

Index(['Character Name', 'Freebase character map'], dtype='object')

-------------------------------------

------------ plotDF ------------

Index(['Wikipedia movie ID', 'Plot'], dtype='object')

-------------------------------------

------------ tvtropDF ------------

Index(['stereotype', 'char', 'movie', 'id', 'actor'], dtype='object')

-------------------------------------

In [25]:
# Cross data frames to fill missing values
# Character Name
characterDF = DataImport.FillMissingValues(characterDF, nameDF, 'Character Name', 'Character Name','Freebase character map')

Percentage of missing values before fill : 57.22%
Percentage of missing values after fill: 57.06%
Percentage improvement: 0.16%

In [26]:
# Cross movie release date
movieDF = DataImport.FillMissingValues(movieDF, characterDF, 'Movie release date', 'Movie release date','Wikipedia movie ID')
characterDF = DataImport.FillMissingValues(characterDF, movieDF, 'Movie release date', 'Movie release date','Wikipedia movie ID')

movieDF['Movie release date'] = pd.to_datetime(movieDF['Movie release date'], format='mixed', errors='coerce',utc=True)
characterDF['Movie release date'] = pd.to_datetime(characterDF['Movie release date'], format='mixed', errors='coerce',utc=True)

# to datetime 'Actor age at movie release'in characterDF
#characterDF['Actor age at movie release'] = pd.to_datetime(characterDF['Actor DOB'], format='mixed', errors='coerce',utc=True)
display(characterDF)

Percentage of missing values before fill : 8.44%
Percentage of missing values after fill: 0.50%
Percentage improvement: 7.95%
Percentage of missing values before fill : 2.22%
Percentage of missing values after fill: 0.10%
Percentage improvement: 2.12%

,Wikipedia movie ID,Freebase movie ID,Movie release date,Character Name,Actor DOB,Actor gender,Actor height,Actor ethnicity,Actor Name,Actor age at movie release,Freebase character map,ethinicty (en)
0,975900,/m/03vyhn,2001-08-24 00:00:00+00:00,Akooshay,1958-08-26,F,1.620,NaN,Wanda De Jesus,42.0,/m/0bgchxw,NaN
1,975900,/m/03vyhn,2001-08-24 00:00:00+00:00,Lieutenant Melanie Ballard,1974-08-15,F,1.780,/m/044038p,Natasha Henstridge,27.0,/m/0jys3m,NaN
2,975900,/m/03vyhn,2001-08-24 00:00:00+00:00,Desolation Williams,1969-06-15,M,1.727,/m/0x67,Ice Cube,32.0,/m/0jys3g,African Americans
3,975900,/m/03vyhn,2001-08-24 00:00:00+00:00,Sgt Jericho Butler,1967-09-12,M,1.750,NaN,Jason Statham,33.0,/m/02vchl6,NaN
4,975900,/m/03vyhn,2001-08-24 00:00:00+00:00,Bashira Kincaid,1977-09-25,F,1.650,NaN,Clea DuVall,23.0,/m/02vbb3r,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
450664,913762,/m/03pcrp,1992-05-21 00:00:00+00:00,Elensh,1970-05,F,NaN,NaN,Dorothy Elias-Fahn,NaN,/m/0kr406c,NaN
450665,913762,/m/03pcrp,1992-05-21 00:00:00+00:00,Hibiki,1965-04-12,M,NaN,NaN,Jonathan Fahn,27.0,/m/0kr405_,NaN
450666,28308153,/m/0cp05t9,1957-01-01 00:00:00+00:00,NaN,1941-11-18,M,1.730,/m/02w7gg,David Hemmings,15.0,/m/0g8ngmc,English people
450667,28308153,/m/0cp05t9,1957-01-01 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,Roberta Paterson,NaN,/m/0g8ngmj,NaN
450668,28308153,/m/0cp05t9,1957-01-01 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,John Rogers,NaN,/m/0g8ngmw,NaN

In [ ]:
fig = go.Figure()

# Add box plot for movie release date
fig.add_trace(go.Box(
    x=movieDF["Movie release date"],
    name='Movie Release Date',
    marker=dict(
        color='blue'
    ),
    jitter=0.3,
    pointpos=-1.8,
    boxmean=True
))

# Add box plot for actor age at movie release
fig.add_trace(go.Box(
    x=characterDF['Actor age at movie release'],
    name='Actor Age at Movie Release',
    marker=dict(
        color='red'
    ),
    jitter=0.3,
    pointpos=-1.8,
    boxmean=True
))

# Calculate proportion of NaN values in Actor age at movie release column
nan_proportion = characterDF['Actor age at movie release'].isna().sum() / len(characterDF)

# Calculate proportion of NaN values in Movie release date column
nan_proportion_movie = movieDF['Movie release date'].isna().sum() / len(movieDF)

# Update layout
fig.update_layout(
    title={
        'text': 'Distribution of Movie Release Dates and Actor Ages at Movie Release<br><span style="font-size: 12px;">{:.1%} of Actor Age values are NaN<br>{:.1%} of Movie Release Date values are NaN</span>'.format(nan_proportion, nan_proportion_movie),
        'y': 0.95,
        'x': 0.5,
        'xanchor': 'center',
        'yanchor': 'top'
    },
    xaxis=dict(
        title='Year',
        showgrid=True,  # Show vertical grid lines
        gridcolor='rgba(211, 211, 211, 0.6)',  # Set grid line color
        gridwidth=1.2  # Set grid line width
    ),
    yaxis=dict(
        showgrid=False,
        zeroline=False
    ),
    legend=dict(
        x=1.05,
        y=0.5,
        bgcolor='rgba(255, 255, 255, 0.5)',
        bordercolor='rgba(255, 255, 255, 0.5)'
    ),
    plot_bgcolor='rgba(0, 0, 0, 0)',
    paper_bgcolor='rgba(0, 0, 0, 0)',
    boxmode='group'
)

fig.show()

This above graph is interessant especially for part 2 where we will work on names depending on the years. The analysis of the name and the age of the actor will be made in the part 2.

Time series of the proportion of movies released

In [ ]:
Explored_movieDF = pd.DataFrame()
Explored_movieDF['Year'] = movieDF['Movie release date'].dt.year

# Calculate the quartiles
quartiles = Explored_movieDF['Year'].dropna().quantile([0.25, 0.5, 0.75])
year_intervals = [Explored_movieDF['Year'].min(), quartiles[0.25], quartiles[0.5], quartiles[0.75], Explored_movieDF['Year'].max()]
quartile_labels = [str(int(year_intervals[i])) + ' - ' + str(int(year_intervals[i + 1])) for i in range(len(year_intervals) - 1)]
Explored_movieDF['Year Interval'] = pd.cut(Explored_movieDF['Year'], bins=year_intervals, labels=quartile_labels)
Explored_movieDF['Year Interval'] = Explored_movieDF['Year Interval'].cat.add_categories(['No release date'])
Explored_movieDF['Year Interval'].fillna('No release date', inplace=True)
# Count the percentage of movies in each interval
year_interval_counts = Explored_movieDF['Year Interval'].value_counts(normalize=True) * 100
year_interval_counts = year_interval_counts.sort_index()
year_interval_counts = year_interval_counts.reset_index()
Explored_movieDF = year_interval_counts
# round to 2 decimals, str and add %
Explored_movieDF['proportion'] = Explored_movieDF['proportion'].apply(lambda x: str(round(x, 1)) + '%')

display(Explored_movieDF)

# 1. Building a ârobot portraitâ of human beings thanks to the CMU dataset, and comparing it to reality

In the first part of this work, we are trying to build the description of an average human based on the data extracted from the dataset. We are taking the point of view of the alines and we are wondering what a typical human looked like. We will start by basic consideration such as gender, age, heigth, ethinicity and we will then try to describe the tate of the humans for specific movie genres.

## 1.1. Basic considerations (age, height, ethnicity, gender)

### 1.1.1. Gender

Before any discussion, let's asses gender parity of the caharcters in our movies from the dataset. We assume that a female character is always played by an actress, and vice versa. 
Using charcter gender

In [ ]:
# Count the occurrences of each gender
gender_counts = characterDF.dropna(subset='Character Name')['Actor gender'].value_counts()
# Plot the histogram
plt.figure()
labels = ['Men', 'Women']
sizes = [gender_counts['M'], gender_counts['F']]
colors = ['lightblue', 'pink']
plt.pie(sizes, labels=labels, colors=colors, autopct='%1.1f%%', shadow=False, startangle=90)
plt.title('Character Gender')
plt.show()

In [ ]:
print(f"There is around {round((gender_counts['M']/gender_counts['F'] -1)*100, 1)} % more male-charactors than female-charactors.")

The previous graph shows that, in this data set, genders are poorly balanced. In the synopsis of Earth legacy, this could lead to a serious bias (naive aliens will think there are about twice as many men as women on Earth, because men are over-represented).

Let's dig a bit more into this gender-difference. Let's do it over time.

In [ ]:
Gender_birth = characterDF[['Actor Name', 'Actor gender', 'Movie release date']].copy()

#Create a new column with the Movie_release year 
Gender_birth['Movie release year'] = Gender_birth['Movie release date'].dt.year

Women = Gender_birth.loc[Gender_birth['Actor gender'] == 'F']
Men = Gender_birth.loc[Gender_birth['Actor gender'] == 'M']
Women = Women.groupby('Movie release year').count()
Men = Men.groupby('Movie release year').count()

plt.plot(Men.index,Men['Actor Name'],label = 'Men')
plt.plot(Women.index,Women['Actor Name'],label = 'Women')
plt.xlabel('Movie release year')
plt.ylabel('Number of charactors')
plt.title('Repartition of charactor gender over time') 
plt.legend()
plt.show()

Please note that the sudden fall of the curves after 2012 is due to the fact that we don't have any movie after this date. Alians will still have the same impression, year after year. What to say about the relative difference between female and male character roles?

In [ ]:
#Let's plot the evolution of parity over time 

n = len(Men)
ratio = []
for k in range(1910,2012): 
    div = (Men.loc[k,'Actor Name']/Women.loc[k,'Actor Name'])
    ratio.append(div)
plt.plot(np.arange(1910,2012),ratio,label='n.o. male / n.o. female')
plt.axhline(y=1, color='r', linestyle='--', label='Parity')
plt.xlabel('Movie realease year')
plt.ylabel('Ratio') 
plt.title('Gender repartition (relative difference)')
plt.legend()
plt.show()
print(ratio)

We see that at its worse, there were 2.75 times more men characters in the movies than woman characters. The situation is slowly getteing better over time, but there were still in 2012 1.79 times more men characters than women ones. At this speed we cannot expect to reach parity before 2100. 

Aliens can directly see from this graph that the human society is deeply unqual, indeed, if there was only less women than men they should observe a relatively constant parity ratio. This evolution through times tells that the difference in proportion between men and women doesn't seem to be the only factor influencing gender representation. 


There is no longer any hope: gender repartition is strongly unbalanced, even in relative scale.

### 1.1.2. AGE

Let's investigate life expectancy of humans and at what age there are at the peak of their carrer.

In [ ]:
#We build the agedf dataset that we will use for our investigations 
ageDF = characterDF[['Actor Name', 'Actor gender', 'Actor age at movie release']]
ageDF = ageDF.drop_duplicates()
ageDF = ageDF.dropna()
ageDF['Actor age at movie release'] = ageDF['Actor age at movie release'].astype('int')
#We remove abherent data 
ageDF = ageDF[ageDF['Actor age at movie release']>= 0]

#We compute the statistical indicators 
q1 = ageDF['Actor age at movie release'].quantile(0.25)
q2 = ageDF['Actor age at movie release'].quantile(0.5)
q3 = ageDF['Actor age at movie release'].quantile(0.75)
mean_age = ageDF['Actor age at movie release'].mean()

#We plot the age distribution at movie release 
fig = px.histogram(ageDF, x='Actor age at movie release', nbins=100, opacity=0.7,
                   title='Histogram of Actor age at the movie realase',
                   labels={'Age': 'Age', 'count': 'Frequency'})


fig.add_shape(type='line', x0=mean_age, x1=mean_age, y0=0, y1=15000, line=dict(color='red', width=2), name='Mean')
fig.add_shape(type='line', x0=q1, x1=q1, y0=0, y1=15000, line=dict(color='orange', width=2), name='Q1 (25%)')
fig.add_shape(type='line', x0=q2, x1=q2, y0=0, y1=15000, line=dict(color='green', width=2), name='Q2 (50%)')
fig.add_shape(type='line', x0=q3, x1=q3, y0=0, y1=15000, line=dict(color='purple', width=2), name='Q3 (75%)')


#fig.update_layout(annotations=[
 #   dict(x=mean_age, y=0, xref='x', yref='y', text='Mean', showarrow=True, arrowhead=4, ax=10, ay=-40),
  #  dict(x=q1, y=15000, xref='x', yref='y', text='Q1 (25%)', showarrow=True, arrowhead=4, ax=0, ay=-40),
   # dict(x=q2, y=15000, xref='x', yref='y', text='Q2 (50%)', showarrow=True, arrowhead=4, ax=0, ay=-40),
    #dict(x=q3, y=15000, xref='x', yref='y', text='Q3 (75%)', showarrow=True, arrowhead=4, ax=0, ay=-40)
#])


fig.update_layout(width=600, height=400)
fig.add_annotation(
    x=1,
    y=1,
    xref='paper',
    yref='paper',
    text=f"Mean: {mean_age:.2f}<br>Q1: {q1:.2f}<br>Q2: {q2:.2f}<br>Q3: {q3:.2f}",
    showarrow=False,
    align='left',
    font=dict(size=10),
    bgcolor='rgba(255, 255, 255, 0.8)',
    bordercolor='rgba(0, 0, 0, 0.8)',
    borderwidth=1
)

fig.update_layout(showlegend=True)
fig.show()

print(ageDF.describe())

The ages ranges from 0 to 103 years old. This already tells us that human life expectancy is probabliy lower than 100 years. 50% of the actors are between 28 and 47 years old when they play in movies. This looks like the age range at which humans are the most productive. We also note that the distribution have a sudden increase around 20 years, this is the moment when humans have finished their developement and are ready to enter into working life. The tail of the distribution is much smoother so there doeasn't seem to be a moment at which everyone retires. 

Let's now have a look at differences between men and women

In [ ]:
Men_mean = ageDF[ageDF['Actor gender']=='M']['Actor age at movie release'].mean()
Women_mean = ageDF[ageDF['Actor gender']=='F']['Actor age at movie release'].mean()

fig = px.histogram(ageDF, x='Actor age at movie release', nbins=100, opacity=0.7,color = 'Actor gender',
                   title='Histogram of Actor age at the movie realase',
                   labels={'Age': 'Age', 'count': 'Frequency'})
fig.update_layout(width=600, height=400)
fig.add_shape(type='line', x0=Men_mean, x1=Men_mean, y0=0, y1=15000, line=dict(color='red', width=2), name='Average age for men ')
fig.add_shape(type='line', x0=Women_mean, x1=Women_mean, y0=0, y1=15000, line=dict(color='blue', width=2), name='Average age for women')

fig.add_annotation(
    x=1,
    y=1,
    xref='paper',
    yref='paper',
    text=f"Average age for men: {Men_mean:.2f}<br>Average age for women: {Women_mean:.2f}",
    showarrow=False,
    align='left',
    font=dict(size=10),
    bgcolor='rgba(255, 255, 255, 0.8)',
    bordercolor='rgba(0, 0, 0, 0.8)',
    borderwidth=1
)

fig.update_layout(showlegend=True)

fig.show()

We observe indeed a big difference between men and women ages. Looking at this, aliens could think that women have a lower life expectancy than men, it would be coherent with their previous reults which seemed to indicate that there were more men than women. The difference in average is very significative, it's 7 years. 

This result is very intersting because it doeasn't reflect at all the reality, for instance, in the US life expectancy of women is in average 5 years higher than the one of men. This repartition indicates that women are displayed in movies much younger than men, we also notice that they stop playing in movie much earlier than men, the tail of the distribution is squeezed.

### 1.1.3. Heigth

In [ ]:
actorDF = characterDF[['Actor Name', 'Actor gender', 'Actor height']]
actorDF = actorDF.drop_duplicates()
actorDF = actorDF.dropna()

# Remove any missing or NaN values from the 'Actor height (in meters)' column
min_height = 0.5
max_height = 2.5
N_boundaries = 40
heights_men = actorDF[(actorDF['Actor height'] > min_height) & \
                      (actorDF['Actor height'] < max_height) & \
                      (actorDF['Actor gender'] == 'M')]\
                ['Actor height'].copy()
heights_women = actorDF[(actorDF['Actor height'] > min_height) & \
                        (actorDF['Actor height'] < max_height) & \
                        (actorDF['Actor gender'] == 'F')]\
                ['Actor height'].copy()
bin_boundaries = np.linspace(min_height, max_height, num=N_boundaries)

plt.hist(heights_men, bins=bin_boundaries, edgecolor='black', label='Men', alpha=0.5)
plt.hist(heights_women, bins=bin_boundaries, edgecolor='black', label='Women', alpha=0.5)

# Add vertical lines for mean values
median_height_men = heights_men.median()
median_height_women = heights_women.median()
plt.axvline(x=median_height_men, color='blue', linestyle='dashed', linewidth=2, label='Median for Men')
plt.axvline(x=median_height_women, color='black', linestyle='dashed', linewidth=2, label='Median for Women')

plt.xlabel('Actor Height (in meters)')
plt.ylabel('Frequency')
plt.title('Histogram of Actor Height (in meters)')
plt.yscale('log')
plt.legend()
plt.show()
print(actorDF[(actorDF['Actor height'] > min_height) & \
                        (actorDF['Actor height'] < max_height)].describe())

print(heights_men.mean())
print(heights_women.mean())

The repartition of height of humans seems to follow more or less a gaussian distribution. Humans are no taller than 2.25 expect for some outliers. Their mean height is 1.73m but there are strong discrepencies between men and women. Men have an average height of 1m80 and women an average height of 1m65.

### 1.1.3. Ethnicity

In [ ]:
### bar chart
nb_ethnicity = characterDF['ethinicty (en)'].value_counts()
nb_ethnicity_main = nb_ethnicity[0:50]
nb_ethnicity_main.plot(kind = 'bar')
plt.ylabel('Number of actor') 
plt.title('Main ethnic repartition of the actors in movies')
plt.yscale('log')
plt.show()


### pie chart
limit_percentage = 1.25 # limit above which we merge all the values
total_count = sum(nb_ethnicity)
limit_value = total_count * (limit_percentage / 100)
merged_value = sum( value for value in nb_ethnicity.values if value < limit_value )

# Create a dictionary with merged values
merged_ranks_freq = {ethincity: nb_ethnicity[ethincity] for ethincity in nb_ethnicity.keys() if nb_ethnicity[ethincity] >= limit_value}
merged_ranks_freq['Other'] = merged_value

# Extract keys (ranks) and values (frequencies) for plotting
ranks = list(merged_ranks_freq.keys())
values = list(merged_ranks_freq.values())

# pie chart
plt.figure()
plt.pie(values, labels=ranks, autopct='%1.1f%%', startangle=90, colors=plt.cm.Paired.colors)
plt.axis('equal')  # Equal aspect ratio ensures that pie is drawn as a circle.
plt.title(f'Ethnicity Distribution with Merged Values Below {limit_percentage}%')
plt.tight_layout()
plt.legend()
plt.show()

The first thing that can be criticised about our classification of ethnicities is the very narrow definition of each category (e.g Irish Americans and Italian Americans). This prevents us from grasping the global trend for ethnicity repartition over the population. A great deal of work would be needed to group similar classes together in order to have a more global and faithful view of reality. 
We can still conduct premilinary anlysis and see that the most represented ethinicity is 'Indian', however it's only a relative majority. In reality, actors are for a big part of them 'White people' coming from Europe or North America. 

Again, this gives a higly biased vsion of reality in which 70% of the world population is either Asian or African.

### 1.1.3. Country of origin

Let's have a look at tge country of origin of the different movies. Can we use this data to approximate the repartition of population in the world ?

In [ ]:
import plotly.express as px
import pandas as pd

#We create a new dataframe to conduct our analysis 
countries = movieDF.copy(deep=True).explode('Movie countries')
countries= countries.dropna(subset = ['Movie countries'])
countries =countries['Movie countries'].value_counts()
#We count how many times each country is represented 
countries = pd.DataFrame({'Country_name' : countries.index,'Count': countries.values})
countries = countries[countries['Count']>5]

In [ ]:
#Let's plot this on a map of the world.
#To do so we use the csv file fownloaded from : 'https://raw.githubusercontent.com/plotly/datasets/master/gapminder_with_codes.csv'
#in order to have the correspondance between the country name and it's iso_alpha to locate it on the map 
# 
#The probelem, however is that there is a lack of consistency between the names of the countries in both dataset. 
#We proceed to an approximate matching using the libarry fuzzywuzzy in order to overcome this problem 

from fuzzywuzzy import process

PATH_DATA_COUNTRIES = './DATA/AddedDatasets/data_countries.csv'
data = pd.read_csv(PATH_DATA_COUNTRIES)

def fuzzy_match(name, choices):
    '''
    Given a string 'name' and a list of strings : choices. it returns the closest match of name in the list choices 
    '''

    match, score, index = process.extractOne(name, choices)
    if score >= 90 : 
        return match

#We want to match the country names from our dataframe country and the one used in the dataframe data used to plot the map 
countries['country'] = countries['Country_name'].apply(lambda x : fuzzy_match(x,data['country']))


merged_df = pd.merge(data,countries, on = 'country')
merged_df['log_count'] = np.log10(merged_df['Count'])

# Create basic choropleth map
fig = px.choropleth(merged_df, locations='iso_alpha', color='log_count', hover_name='country',
                    projection='natural earth', title='Number of movies produces by each country (log scale)')

fig.update_layout(width=800, height=500)
fig.show()
#please note that the colorscale is in log scale

### 1.2 Building a metric to measure the sucess of a movies
After analysing these basic characteristics, we want to dig further and we want to understand what drives a movie succes. Let's make a small break in our analysis and let's build an indicator of a movie sucess. The only information we have to quantify the sucess of a movie is the movie box office revenue. Let's start by looking if it's a good metric or not.

In [ ]:
# We build a new dataframe to work with 
Sucess_df = movieDF.copy(deep = True).dropna(subset=["Movie box office revenue",'Movie release date'])
Sucess_df['Movie_release_year'] = Sucess_df['Movie release date'].dt.year
Sucess_df = Sucess_df.rename(columns = {'Movie box office revenue':'Movie_box_office_revenue'})

In [ ]:
#Let's compute the average revenue by year 
Year_average = Sucess_df[['Movie_release_year','Movie_box_office_revenue']].groupby(by = 'Movie_release_year').mean()

#Let's plot the box office by year 
fig, (ax1, ax2) = plt.subplots(1, 2,figsize = (10,4))
ax1.scatter(Sucess_df['Movie_release_year'],Sucess_df['Movie_box_office_revenue'],s=3)
ax1.plot(Year_average.index,Year_average['Movie_box_office_revenue'],color = 'r',label = 'average revenue')
ax2.scatter(Sucess_df['Movie_release_year'],Sucess_df['Movie_box_office_revenue'],s=3)
ax2.plot(Year_average.index,Year_average['Movie_box_office_revenue'],color = 'r',label = 'average revenue')
ax1.set_xlabel('Movie release year')
ax1.set_ylabel('Movie box office renevue')
ax2.set_xlabel('Movie release year')
ax2.set_ylabel('Movie box office renevue')
fig.suptitle('evolution of the box office through time')
ax2.set_yscale('log')
ax2.legend()
ax1.legend()

#The problen is that it seems that the box office revenue is primarly influenced by the movie release year

We observe that the variable Movie_box_office_revenue has a wide range of variability, and this range extends over time. Morover, we observe that the average revenue seems to grow over time. Let's look in more detail at trying to quantify the impact of a film's year of release on its success.

In [ ]:
#Let's see if it's indeed the case 
import statsmodels.formula.api as smf


model_1 = smf.ols(' Movie_box_office_revenue ~ Movie_release_year',Sucess_df)
results_1 = model_1.fit()
print(results_1.summary())

plt.scatter(Sucess_df['Movie_release_year'],Sucess_df['Movie_box_office_revenue'])
print(len(results_1.predict()))
plt.plot(Sucess_df['Movie_release_year'],results_1.predict(),color = 'r',label = 'Linear Regression')

Our first concern is verified. The movie box officie revenue is indeed incresing over time at a rate of 1 million US$ per year. This coefficient is associated with a very low p-value meaning that it's very relevant. This could be explained by several things : 

-   Inflation, the movie box office revenue is not expressed in constant US$ and it would need to be corrected for inflation if we want to compare two movies from different periods 
-   In the past, the movie industry was much smaller, there were fewer cinemas and the audience was much smaller than it is today. 

In  our study we are not interested in the influence of the release year on the sucess of the movie but rather on the impact of the genre, the language, ... In order to understand the factors which drive sucess, we want to compare movies with each other and we are not really interested in the absolute succes of a particular movie. 

Furthermore, the aliens don't have acess to the inflation data so it would not be fair to correct for it. Considering all of that we are going to correct for the influence of the realease year by normalizing the Movie_box_office_revenue for each of the realease year independently. By doing so, we are considering that the reparttion of the success is independant of the release year and we are correcting for the evolution of the movie industrty. 

We are standardizing our data because this rescaling method is more robust to outliers than the min-max rescaling.

In [ ]:
#We are using the preprocessing tool from sklearn 
from sklearn.preprocessing import StandardScaler
Sucess_df = Sucess_df.sort_values('Movie_release_year')

#List of release year present in our dataset 
years = Sucess_df['Movie_release_year'].drop_duplicates()

#We create a new column to store the scaled box office revenue 
Sucess_df['Movie_box_office_revenue_scaled'] = Sucess_df['Movie_box_office_revenue']
scaled = []

for yr in years : 
    #Here we rescale independently all the years, we do so because we want to remove the influence of the year realse date in the movie sucess 
    scaler = StandardScaler()
    Sucess_df.loc[Sucess_df['Movie_release_year'] == yr,'Movie_box_office_revenue_scaled'] = scaler.fit_transform(Sucess_df[Sucess_df['Movie_release_year'] == yr]['Movie_box_office_revenue'].values.reshape(-1, 1))

In [ ]:
#Let's check that we indeed corrected for the influence of the realease year 

model_2 = smf.ols(' Movie_box_office_revenue_scaled ~ Movie_release_year',Sucess_df)
results_2 = model_2.fit()
print(results_2.summary())

plt.scatter(Sucess_df['Movie_release_year'],Sucess_df['Movie_box_office_revenue_scaled'],s = 3)
print(len(results_1.predict()))
plt.plot(Sucess_df['Movie_release_year'],results_2.predict(),color = 'r',label = 'Linear Regression')
plt.xlabel('Movie release year')
plt.ylabel('Movie box office revenue scaled')
plt.legend()

By doing the regression we indeed observe that Movie_box_office_revenue_scaled is independant of the release year with a p-value of 1. We are going to use this metric in the following parts to asses the sucess of a particular movie.

### 1.4 Language
Which language do people speak the most ? Are there specific languages which are bringing sucess to a movie ?

In [ ]:
#First let's investigate the repartition of the different movie langauges 
language_df = movieDF.copy(deep = True).dropna(subset = ['Movie languages'])
language_df = language_df.explode('Movie languages')
language_df = language_df.rename(columns = {'Movie languages':'Movie_languages'}) 

language_df['Movie_languages'] = language_df['Movie_languages'].str.replace('Language','')


lgg = language_df['Movie_languages'].value_counts()

lgg.head(40).plot(kind = 'bar')
plt.title('Movie language')
plt.ylabel('Number of movies')
plt.yscale('log')
plt.show()

Based on this, we note that the most spoken languages are in order : English, Hindi, Spanish, French. This is not very far from the actual language repartition which is (1) English, (2) Mandarin, (3) Hindi, (4) Spanish and (5) French [Source](https://fr.statista.com/statistiques/565467/langues-les-plus-parlees-dans-le-monde/). We note that Mandarin is splitted in different categories : 'Standard Mandarin','Mandarin Chinese','Chinese language' we explains why is not well accounted for.


This first analyse is not enough, we could imagine a situation where we have an over representation of movies from a small country in our dataset. To overcome this issue, we will compute the linear regression of the movie sucess as a function of language. This will tell us if making a movie in a specific language could induce more viewers and hence traduce the fact that the language is spoken by more people

In [ ]:

lgg_reg_df = Sucess_df.copy(deep = True)
lgg_reg_df = lgg_reg_df.explode('Movie languages')
#display(lgg_reg_df).dropna(subset = ['Movie languages'])
language_list = lgg_reg_df['Movie languages'].value_counts().sort_values(ascending = False )
print(language_list.index)
treshold = 150

i = 0
for elem in language_list : 
    i+= 1
    if elem<= treshold : 
        break 

#List of genres representing more than 100 movies each 
Important_lgg = language_list.index.tolist()[0:i]
print(Important_lgg)

lgg_reg_df = lgg_reg_df[lgg_reg_df['Movie languages'].isin(Important_lgg)]

display(lgg_reg_df)
lgg_reg_df = lgg_reg_df.rename(columns = {'Movie languages':'Movie_languages'}) 
#Let's look at the linear regression 

display(lgg_reg_df['Movie_languages'].drop_duplicates())

lgg_reg = smf.ols(formula='Movie_box_office_revenue_scaled ~ C(Movie_languages)', data=lgg_reg_df).fit() 
print(lgg_reg.summary())

### 1.5 What do people like 
In this part we are investagating what factors contribute to a movie sucess. In that way we will be able to understand which movie type humans like the most.

In [ ]:
# We create a copy of our movie dataframe on which we are going to work 
Type_df = Sucess_df.copy(deep = True).dropna(subset = ['Movie genres'])
Type_df = Type_df.rename(columns = {'Movie genres':'Movie_genres'})

Please note that if a movie have several genres which is often the case in the datatset it's counted as many times as it has genres. Let's start by looking at which movie genres are present in our dataset.

In [ ]:
#What genres are the most represented in our moviedf dataset 
#One movie can be associated with several movie genres, we explode the dataset in order to have one genre per row. 
genres = movieDF.explode('Movie genres')
Genre = genres['Movie genres'].value_counts()

Genre.head(40).plot(kind = 'bar')
#plt.pie(Genre[0:10],labels = Genre[0:10].index,autopct='%1.1f%%', startangle=90)
plt.title('Movie genre repartition')
plt.ylabel('Number of movies')
plt.show()

The three most represented genre in our datasets are : Drama, Comedy and Romance. 
Let's now have a look the repartition of genres in the most sucessful movies.

In [ ]:
#We keep here only the most sucessfull 1000 movies 
Best_Movies = Type_df.sort_values(by = 'Movie_box_office_revenue_scaled', ascending = True).tail(1000)
Best_Movies = Best_Movies.explode('Movie_genres')
Best_Movies_genre = Best_Movies['Movie_genres'].value_counts()

In [ ]:
Best_Movies_genre.head(50).plot(kind = 'bar')

Movie genres repartition in the 1000 most sucessful movie looks very similar to the one of the full dataset: Drama, Comedy and Roamnce are still trusting the top positions. We cannot really conclude anything from this, we don't know if Drama is indeed bringing sucess or if it's something else. 

We will continue our investigation by doing linear regressions in order to asses how the movie box office revenue scaled is influenced or not by a choice of a particular genre. In our linear regression we are choosing a reference genre to which we are going to compare all the others. Because Drame is the most represented genre in our dataset, we will take it as a reference. The coefficient we are going to obtain can be interpreted as a measure of the comparative performance of the considered genre compared to Drama. If the coefficient of 'Sports' for example is 0.5 then it means that doing a Sport movie rather than a Drama movie will in average result in a movie 0.5 times more profitable.

In [ ]:
Type_df = Type_df.explode('Movie_genres')
Genres_list = Type_df['Movie_genres'].value_counts().sort_values(ascending = False)
#Let's extract the list of Genres which describes more than 100 movies 
treshold = 100

i = 0
for elem in Genre : 
    i+= 1
    if elem<= treshold : 
        break 

#List of genres representing more than 100 movies each 
Important_Genres = Genres_list.index.tolist()[0:i]
len(Important_Genres)

In [ ]:
# We filter our dataset to keep only the movies of intetrest 
reg_data = Type_df[Type_df['Movie_genres'].isin(Important_Genres)]
#We compute the linear regression to compare one genre to all the others, it will give us 
Genre_reg = smf.ols(formula='Movie_box_office_revenue_scaled ~ C(Movie_genres, Treatment("Drama"))', data=reg_data).fit() 
print(Genre_reg.summary())

In [ ]:
#Extraction of the results of the linear regression 
reg_var = Genre_reg.params.index
reg_coef = Genre_reg.params.values
reg_pvalues = Genre_reg.pvalues
reg_sigma = Genre_reg.bse.values
reg_confidence = Genre_reg.conf_int()

#We store those in a dataframe 
Reg_res = pd.DataFrame(list(zip(reg_var, reg_coef, reg_pvalues,reg_sigma,reg_confidence[0],reg_confidence[1])),
              columns=['reg_var','reg_coef', 'reg_pvalues','reg_sigma','Lower_confidence','Higher_confidence'])

Reg_res = Reg_res.sort_values(by='reg_coef',ascending=True)

#We rearrange a bit the labels to make it more readable 
Reg_res['reg_var'] = Reg_res['reg_var'].str.replace('C(Movie_genres, Treatment("Drama"))[T.', '')
Reg_res['reg_var'] = Reg_res['reg_var'].str.replace(']', '')


#Plotting of the results 
fig = plt.figure(figsize=(10,30))
Reg_res['Lower_confidence'] = Reg_res['Lower_confidence'] - Reg_res['reg_coef']
Reg_res['Higher_confidence'] = Reg_res['Higher_confidence'] - Reg_res['reg_coef']
errors = np.abs(Reg_res[['Lower_confidence','Higher_confidence']].to_numpy()).T
print(len(reg_var))

#We are using the 95% confidence interval to compute the error bars
plt.errorbar(Reg_res['reg_coef'],Reg_res['reg_var'],xerr = errors,linestyle = 'none',marker = 'o',markeredgecolor = 'black')


plt.vlines(0,0, len(Reg_res['reg_var']), linestyle = '--')
plt.title('Distribution of features coefficients that influence Movie box office revenue')

plt.ylim((-1,len(Reg_res['reg_var'])))
plt.show()

This graph has too many variables, it's not pleasant to read. However, we can note that doing Glamorized Spy Films or Computer Animation movies seem to bring much higher sucess than making a Drama movie. Making Gay or Experimental movies on the countrary seems to be detrimental for your movie sucess.   
We will start by proposing a new visualisation

In [ ]:
#We have too much variables to make a readable plot let's choose the most significative to display 
#We keep the 5 most represented genre in the dataset, the 5 genre with the highest coefficient and the 5 with the lowest 
To_display = Reg_res[Reg_res['reg_var'].isin(Important_Genres[0:10])]
#To_display = Reg_res.sort_values(by='reg_coef',ascending = False).head(5)
To_display = pd.concat([Reg_res.sort_values(by='reg_coef',ascending = False).head(10),To_display,Reg_res.sort_values(by='reg_coef',ascending = False).tail(10)]).sort_values(by='reg_coef')

In [ ]:
import plotly.express as px
import pandas as pd

fig = go.Figure()
fig.add_trace(go.Scatterpolar(
    r=[0] * len(To_display['reg_var']),  # Repeat the zero value to close the loop
    theta=To_display['reg_var'],  # Repeat the first category to close the loop
    mode='lines',
    #line_close = True,
    fill='toself',
    name='Zero limit',
    line=dict(color='black'),
))


# Add trace for Line 1
fig.add_trace(go.Scatterpolar(
    r=To_display['Lower_confidence'],  # Repeat the first value to close the loop
    theta=To_display['reg_var'],  # Repeat the first category to close the loop
    
    name='Confidence interval at 95%',
    line=dict(color='orange'),
))

# Add trace for Line 2
fig.add_trace(go.Scatterpolar(
    r=To_display['Higher_confidence'],  # Repeat the first value to close the loop
    theta=To_display['reg_var'],  # Repeat the first category to close the loop
    fill='tonext',
    name='Confidence interval at 95%',
    line=dict(color='orange'),
))

#Add the trace for the mean 

fig.add_trace(go.Scatterpolar(
    r=To_display['reg_coef'],  # Repeat the first value to close the loop
    theta=To_display['reg_var'],  # Repeat the first category to close the loop
    
    name='Linear Regression coefficient',
    line=dict(color='blue'),
))
fig.update_layout(width=1000, height=800)
fig.show()

We have seen the result of the comparison of all different genres to Drama. Let's now automate this process and have look at each couples of genre to see how they compete. To do so we creted below some functions which purpose is to run the linear regression by choosing as a refernce all the genres alternatively. For each genre we compute the linear regression and we keep the highest and the lowest regression coefficients. Then we plot the matrix summurazing all the duels. By doing so, we look if there exists genre that outcompetes all the others or inversly if there are genre which are particuliary bad.

In [54]:
def map(ref,elem): 
    n = len(ref)
    for k in range(n) : 
        if ref[k] == elem : 
            return k 
    return None 

def Linear_reg_results(data,genre_lst,Ref): 
    reg_data = data[data['Movie_genres'].isin(genre_lst)]
    print('Movie_box_office_revenue_scaled ~ C(Movie_genres, Treatment('+Ref+'))')
    model = smf.ols(formula='Movie_box_office_revenue_scaled ~ C(Movie_genres, Treatment('+Ref+'))', data=reg_data).fit() 
    #Extraction of the results of the linear regression 
    reg_var = model.params.index[1:]
    reg_coef = model.params.values[1:]
    reg_pvalues = model.pvalues[1:]
    reg_sigma = model.bse.values[1:]
    reg_confidence = model.conf_int()[1:]
    Reg_res = pd.DataFrame(list(zip(reg_var, reg_coef, reg_pvalues,reg_sigma,reg_confidence[0],reg_confidence[1])),
              columns=['reg_var','reg_coef', 'reg_pvalues','reg_sigma','Lower_confidence','Higher_confidence'])
    #print(Reg_res)
    return Reg_res 

def Linear_reg_plotting(Reg_res):
    Reg_res = Reg_res.sort_values(by='reg_coef',ascending=True)

    #We rearrange a bit the labels to make it more readable 
    Reg_res['reg_var'] = Reg_res['reg_var'].str.replace('C(Movie_genres, Treatment("Drama"))[T.', '')
    Reg_res['reg_var'] = Reg_res['reg_var'].str.replace(']', '')


    #Plotting of the results 
    fig = plt.figure(figsize=(10,30))
    Reg_res['Lower_confidence'] = Reg_res['Lower_confidence'] - Reg_res['reg_coef']
    Reg_res['Higher_confidence'] = Reg_res['Higher_confidence'] - Reg_res['reg_coef']
    errors = np.abs(Reg_res[['Lower_confidence','Higher_confidence']].to_numpy()).T
    print(len(reg_var))

    #We are using the 95% confidence interval to compute the error bars
    plt.errorbar(Reg_res['reg_coef'],Reg_res['reg_var'],xerr = errors,linestyle = 'none',marker = 'o',markeredgecolor = 'black')


    plt.vlines(0,0, len(Reg_res['reg_var']), linestyle = '--')
    plt.title('Distribution of features coefficients that influence Movie box office revenue')

    plt.ylim((-1,len(Reg_res['reg_var'])))
    plt.show()

def Linear_reg_duels(Genre_list,data):
    n = len(Genre_list)
    res_pos = np.zeros((n,n))
    res_neg = np.zeros((n,n))
    for genre in Genre_list : 
        genre_str ='"' +genre+'"'
        #We do the linear regression 
        Reg_res = Linear_reg_results(data,Genre_list,genre_str)
        Reg_res = Reg_res.sort_values(by='reg_coef',ascending=False)

        Reg_res['reg_var'] = Reg_res['reg_var'].str.replace('C(Movie_genres, Treatment('+genre_str+'))[T.', '')
        Reg_res['reg_var'] = Reg_res['reg_var'].str.replace(']', '')
        best_1 = Reg_res['reg_var'].iloc[0]
        best_2 = Reg_res['reg_var'].iloc[1]
        best_3 = Reg_res['reg_var'].iloc[2]
        worst_1 = Reg_res['reg_var'].iloc[-1]
        worst_2 = Reg_res['reg_var'].iloc[-2]
        worst_3 = Reg_res['reg_var'].iloc[-3]
        if Reg_res['reg_coef'].iloc[0] > 0 and Reg_res['Lower_confidence'].iloc[0] >0 : 
            res_pos[map(Genre_list,genre)][map(Genre_list,best_1)] += 3 
        
        if Reg_res['reg_coef'].iloc[1] > 0 and Reg_res['Lower_confidence'].iloc[1] >0 : 
            res_pos[map(Genre_list,genre)][map(Genre_list,best_2)] += 2 

        if Reg_res['reg_coef'].iloc[2] > 0 and Reg_res['Lower_confidence'].iloc[2] >0 : 
            res_pos[map(Genre_list,genre)][map(Genre_list,best_3)] += 1 

        if Reg_res['reg_coef'].iloc[-1] < 0 and Reg_res['Higher_confidence'].iloc[-1] < 0 : 
            res_neg[map(Genre_list,genre)][map(Genre_list,worst_1)] += -3 
        
        if Reg_res['reg_coef'].iloc[-2] < 0 and Reg_res['Higher_confidence'].iloc[-2] < 0 : 
            res_neg[map(Genre_list,genre)][map(Genre_list,worst_2)] += -2 
        
        if Reg_res['reg_coef'].iloc[-3] < 0 and Reg_res['Higher_confidence'].iloc[-3] < 0 : 
            res_neg[map(Genre_list,genre)][map(Genre_list,worst_3)] += -1 
            
    return res_pos, res_neg 

#Linear_reg_plotting(Linear_reg_results(Type_df,Important_Genres,"'Drama'"))
#print(Important_Genres)
#print(np.array(['Drama','Superhero','Action','Computer Animation','Animated Musical']))
#display(Type_df)
res_pos, res_neg  = Linear_reg_duels(Important_Genres,Type_df)

Movie_box_office_revenue_scaled ~ C(Movie_genres, Treatment("Musical Drama"))
Movie_box_office_revenue_scaled ~ C(Movie_genres, Treatment("Creature Film"))

:

In [ ]:

fig = px.imshow(res_pos,x=Important_Genres,y=Important_Genres,title = 'Results of duels between different genres : Best performing genre')
fig.update_xaxes(showticklabels=False)
fig.update_yaxes(showticklabels=False)
fig.update_layout(width=800, height=500)

In [ ]:

fig = px.imshow(res_neg,x=Important_Genres,y=Important_Genres,title = 'Results of duels between different genres : Worse performing genre')
fig.update_xaxes(showticklabels=False)
fig.update_yaxes(showticklabels=False)
fig.update_layout(width=800, height=500)

In [ ]:
fig, (ax1, ax2) = plt.subplots(1, 2,figsize = (10,4))
fig.suptitle('Results of our training process')
ax1.imshow(res_pos)


ax2.imshow(res_neg)
fig.legend()

This tells us something intersting, no matter wihch genre is chosen as reference, the three best and the three worse genres remain stable. 
The three genres which seem to bring the more money are : Glamorized Spy Film, Computer Animation and Roadshow theatrical release. 
The three genres whch are the most detrimental to performances are : Gay, Gay Interest and Experimental Film.

Now that we have identified the most liked and disliked genre by humans through a linear regression we need to bear in mind that the movie box office revenue could be influenced by a lot of different paremters, for instance movie language or country of origin. In order to conclude and decide wether the movie genre is responsible or not for a change in a movie performance let's make some pair matching. We will match together movies with the same languages and from the same countries. In order to do that we have arbitrarly chosen a method to quantify the distance between two list of strings and a second function matching() which constructs a graph and matches the sample together in the most optimal way possible.

In [ ]:
import networkx as nx

def score(lst1,lst2):
    if len(lst1) == 0 or len(lst2) == 0 : 
        return 0
    intersect = 0 
    for elem in lst1 : 
        if elem in lst2 : 
            intersect += 1
    return intersect/max(len(lst1),len(lst2))





def matching(genre1, genre2, df):
    treshold = 1.5
    df_genre1 = df[df['Movie_genres']==genre1]
    df_genre2 = df[df['Movie_genres']==genre2]
    G = nx.Graph()
    for idx1, movie1 in df_genre1.iterrows() : 
        for idx2, movie2 in df_genre2.iterrows() : 
            if movie2['Wikipedia movie ID'] == movie1['Wikipedia movie ID'] :
                continue

            similarity = score(movie1['Movie languages'],movie2['Movie languages']) + score(movie1['Movie countries'],movie2['Movie countries'])
            #print(similarity)
            if similarity >= treshold : 
                G.add_weighted_edges_from([(movie1['Wikipedia movie ID'], movie2['Wikipedia movie ID'], similarity)])


    
    matching = nx.max_weight_matching(G)
    matched = [i[0] for i in list(matching)] + [i[1] for i in list(matching)]

    return df[df['Wikipedia movie ID'].isin(matched) & df['Movie_genres'].isin([genre1,genre2])]

We now build a function which does the linear regression on the matched pairs and computes the p-value. A low p-value will mean a hisgh degree of significance of the genre wheras a high p-value tells us that the genre doesn't have any impact and that language or/and movie country could have an impact.

In [ ]:
#We compute the linear regression

def Significance_of_genre(data,genre_lst,genre1,genre2):
    reg_data = data[data['Movie_genres'].isin(genre_lst)]
    Matched = matching(genre1,genre2,reg_data)
    matched_reg = smf.ols(formula='Movie_box_office_revenue_scaled ~ C(Movie_genres, Treatment('+genre1+'))', data=Matched).fit() 

    p_val = matched_reg.pvalues.iloc[1]
    coef = matched_reg.params.values.iloc[1]
    if p_val<0.005: 
        if coef <0 : 
            print(genre2 + ' drives higher sucess than '+ genre1 )
        if coef>0: 
            print(genre1 + ' drives higher sucess than '+ genre2 )
    else : 
        print("The matching doesn't allow us to say if their is a significant differences between " + genre1 +' and '+genre2)
    return p_val

In [ ]:
#We do some pair matching to see if our previous results hold 
#We start by comparing our results with the most spread genre : 'Drame'
Significance_of_genre(Type_df,Important_Genres,'Computer Animation','Drama')
Significance_of_genre(Type_df,Important_Genres,'Glamorized Spy Film','Drama')
Significance_of_genre(Type_df,Important_Genres,'Roadshow theatrical release','Drama')
Significance_of_genre(Type_df,Important_Genres,'Gay','Drama')
Significance_of_genre(Type_df,Important_Genres,'Gay Interest','Drama')
Significance_of_genre(Type_df,Important_Genres,'Experimental Film','Drama')

## 1.2. Repartition of some occuptions (military, PhD (doctors))

### 1.2.1. Armies

Our aliens are smart. One of them (let's call him Bob) quickly realizes that certain words in the characters' names occur very often, and seem to be militarized according to the role they describe in the scenarios. What is the military organization of Earth?

In [ ]:
# MILITARY RANKS
dict_military_ranks = {
    'Marshal': 'Marshal',
    'Admiral': 'Admiral',
    'General': 'General',
    'Brigadier General': 'Brigadier General',
    'Colonel': 'Colonel',
    'Col': 'Colonel',
    'Col.': 'Colonel',
    'Lieutenant Colonel': 'Lieutenant Colonel',
    'Lt. Col': 'Lieutenant Colonel',
    'Major': 'Major',
    'Maj.': 'Major',
    'Captain': 'Captain',
    'Capt.': 'Captain',
    'Commander': 'Commander',
    'Lieutenant Commander': 'Lieutenant Commander',
    'Sheriff': 'Sheriff',
    'Lieutenant': 'Lieutenant',
    'Sergeant': 'Sergeant',
    'Sgt': 'Sergeant',
    'Sgt.': 'Sergeant',
    'Sergeant Major': 'Sergeant Major',
    'Sgt.-Major': 'Sergeant Major',
    'Corporal': 'Corporal',
    'Staff Sergeant': 'Staff Sergeant',
    'Private': 'Private',
    'Major General': 'Major General',
    'Major-General': 'Major General',
    'Major-general': 'Major General'
}

In [ ]:
characterDF_copy = copy.deepcopy(characterDF.dropna(subset=['Character Name']))

# Function to check if a military rank is present in the character name
def has_military_rank(name):
    for rank in dict_military_ranks.keys():
        if rank.lower() in name.lower():
            return True
    return False

# Applying the function to the 'Character Name' column
characterDF_copy['Has Military Rank'] = characterDF_copy['Character Name'].apply(has_military_rank)

# Counting the number of characters with and without a military rank
num_characters_with_rank = characterDF_copy['Has Military Rank'].sum()
num_characters_without_rank = len(characterDF_copy) - num_characters_with_rank

# Pie chart
labels = ['With Military Rank', 'Without Military Rank']
sizes = [num_characters_with_rank, num_characters_without_rank]
colors = ['gold', 'lightcoral']
explode = (0.1, 0)  # explode the 'With Military Rank' slice
plt.pie(sizes, explode=explode, labels=labels, colors=colors, autopct='%1.1f%%', shadow=False, startangle=140)
plt.axis('equal')  # Equal aspect ratio ensures that pie is drawn as a circle.
plt.title('Distribution of Characters Names, with and without Military Rank')
plt.show()

Less than three percents of the characters are militar ones.

Our alians are really interested in understanding the military hierarchy on Earth. One of them sugests that that there are fewer leaders than subordinates; therfore, the repartition rank should approximate this result... Let's dig into that.

In [ ]:
# we sorted the ranks by the decreasing total number of letters, to avoid counting two times the same rank
list_sorted_ranks = sorted(dict_military_ranks.keys(), key=len, reverse=True)

# getting the ranks without repetition
set_mili_ranks = set(dict_military_ranks.values())

# counting the number of each rank
ranks_counter = { rank:0 for rank in set_mili_ranks}
for name in characterDF['Character Name'].dropna(inplace=False):
    for rank in list_sorted_ranks:
        if re.search(fr'\b{rank}\b', name, re.IGNORECASE):
            ranks_counter[ dict_military_ranks[rank] ] +=1
            break #we need to stop to avoid counting two times the same rank (for instance, 'Sgt' and 'Sgt.') 
            
sorted_ranks_freq = dict(sorted(ranks_counter.items(), key=lambda item: item[1], reverse=True))
ranks = list(sorted_ranks_freq.keys())
values = list(sorted_ranks_freq.values())

### histogram
plt.bar(ranks, values, color='blue')
plt.xlabel('Rank')
plt.ylabel('Count')
plt.title('Rank Distribution')
plt.xticks(rotation=45, ha='right')
plt.yscale('log')
plt.show()

### pie chart
limit_percentage = 2 # limit above which we merge all the values
total_count = sum(sorted_ranks_freq.values())
limit_value = total_count * (limit_percentage / 100)
merged_value = sum(value for rank, value in sorted_ranks_freq.items() if value < limit_value)

# Create a new dictionary with merged values
merged_ranks_freq = {rank: value for rank, value in sorted_ranks_freq.items() if value >= limit_value}
merged_ranks_freq['Other'] = merged_value

# Extract keys (ranks) and values (frequencies) for plotting
ranks = list(merged_ranks_freq.keys())
values = list(merged_ranks_freq.values())

# pie chart
plt.pie(values, labels=ranks, autopct='%1.1f%%', startangle=90, colors=plt.cm.Paired.colors)
plt.axis('equal')  # Equal aspect ratio ensures that pie is drawn as a circle.
plt.title(f'Rank Distribution with Merged Values Below {limit_percentage}%')
plt.show()

So the aliens could deduce, for example, that the rank of Private should be higher than that of Captain... There's a cofactor here: the higher you are in the hierarchy, the more important your responsibilities are to the scriptwriters.

### 1.2.2. Doctors

'What about long-studies occupations?' were wondering our alians.

In [ ]:
# extracitng doctor lines
df_predoc = characterDF.dropna(subset='Character Name').copy()
df_doctors = df_predoc[ df_predoc['Character Name'].str.lower().str.split().apply(lambda x: x[0] if len(x) > 0 else None)=='dr.' ]

def pie_chart_docs_gender(df, title=''):
    # Count and plot the occurrences of each gender
    gender_counts = df['Actor gender'].value_counts()
    labels = ['Men', 'Women']
    sizes = [gender_counts['M'], gender_counts['F']]
    colors = ['lightblue', 'pink']
    plt.pie(sizes, labels=labels, colors=colors, autopct='%1.1f%%', shadow=False, startangle=90)
    plt.title(title)

plt.figure()
plt.subplot(121)
pie_chart_docs_gender(df_doctors, title="Actor Gender of 'Dr.' charactors")
plt.subplot(122)
pie_chart_docs_gender(df_predoc, title='Actor Gender')
plt.show()

We see a clear influence of gender on doctors *(we will quantify it on Milestone 3)*.

# 2. Influence of movies on society, and vice-versa

Through the study of the firstnames apperances in movies characters and by comparing them with a dataset of the firstnames of the US population, we will try to understand if the movies have an influence on the choice of the firstnames.
The dataset we will use to compare the firstnames is...

### 2 1. Adding real babies names dataset and comparing temporal frequencies between reality and fiction

For our study, we will restrain ourself to a dataset of movies that was released in the USA as our comparison dataset is the birth register of the USA for each year between 1880 and 2022.

In [ ]:
# Define function to format revenue values with K or B suffix
def format_revenue(revenue):
    if revenue >= 1e9:
        return '${:.1f}B'.format(revenue / 1e9)
    elif revenue >= 1e6:
        return '${:.1f}M'.format(revenue / 1e6)
    else:
        return '${:,.0f}'.format(revenue)

# Calculate proportion of NaN values in Movie box office revenue column
nan_proportion = movieDF["Movie box office revenue"].isna().sum() / len(movieDF)

# keep in movieDF only the movies with in Movie countries the id /m/09c7w0
USAmovieDF = movieDF[movieDF["Movie countries"].str.contains("/m/09c7w0")]

# Create bar chart
fig = go.Figure(go.Bar(
    x=USAmovieDF.dropna(subset=["Movie box office revenue"]).sort_values(by="Movie box office revenue",ascending=True).tail(50)["Movie box office revenue"], 
    y=USAmovieDF.dropna(subset=["Movie box office revenue"]).sort_values(by="Movie box office revenue",ascending=True).tail(50)["Movie name"], 
    orientation='h',
    text=[format_revenue(revenue) for revenue in USAmovieDF.dropna(subset=["Movie box office revenue"]).sort_values(by="Movie box office revenue",ascending=True).tail(50)["Movie box office revenue"]],
    textposition='outside',
    marker=dict(
        color=[i for i in range(50)],
        colorscale='sunsetdark'
    ),
    hovertext=[f"<b>Movie:</b> {name}<br><b>Box Office Revenue:</b> {format_revenue(revenue)}" for name, revenue in zip(USAmovieDF.dropna(subset=["Movie box office revenue"]).sort_values(by="Movie box office revenue", ascending=True).tail(50)["Movie name"], USAmovieDF.dropna(subset=["Movie box office revenue"]).sort_values(by="Movie box office revenue", ascending=True).tail(50)["Movie box office revenue"])]
))

# Update layout
fig.update_layout(
    height=1000,
    xaxis_title="Box office revenue",
    yaxis_title="Movie name",
    title={
        'text': 'Top 50 Movies by Box Office Revenue<br><span style="font-size: 12px;">{:.1%} of Movie Box Office Revenue values are NaN</span>'.format(nan_proportion),
        'x': 0.5,
        'xanchor': 'center',
        'yanchor': 'top'
    },
    xaxis=dict(
        showgrid=True,  # Show vertical grid lines
        gridcolor='rgba(211, 211, 211, 0.6)',  # Set grid line color
    ),
    plot_bgcolor='rgba(0,0,0,0)',
    paper_bgcolor='rgba(0,0,0,0)',
    font=dict(
        size=12
    ),
    margin=dict(
        l=200
    )
)

SaveOrShowFigure.export_plots(fig, 'barplot_top_50_movies_by_box_office_revenue')

An other alternative is to draw a WordCloud with the top 50 movies by box office revenue

In [ ]:
# Drop rows with missing values in the "Movie box office revenue" column
movieDF_cleaned = USAmovieDF.dropna(subset=["Movie box office revenue"])

# Create a dictionary with movie names as keys and their box office revenue as values
movie_name_revenue_dict = dict(zip(movieDF_cleaned["Movie name"], movieDF_cleaned["Movie box office revenue"]))

# Generate the word cloud from the movie names and their box office revenue
wordcloud = WordCloud(
    max_font_size=50,
    background_color="white",
    colormap="cividis",
).generate_from_frequencies(movie_name_revenue_dict)

# Display the word cloud
plt.imshow(wordcloud, interpolation="bilinear")
plt.axis("off")
plt.show()

#### 2.2 Study on the characters present in the top 100 movies

As the Firstnames_fromBabyDF apperance for characters on the silver screen is a categorical variable each year, the alien student won't be able to see if the most voted name that he will find in the dataset reflects the reality. So we will use an other dataset that recense the firstnames of babies born in the USA over the years.

For our first study, we will restrain ourself to the top 100 movies by box office revenue. We will then compare the firstnames of the characters in the movies with the firstnames of the babies born in the USA.

Our first goal, before trying to dig into the influence of movies characters firstnames and babies firstnames, is to see if some firstnames was created by the movies. To do so, we will compare the firstnames of the characters in the movies with the firstnames of the babies born in the USA based on their year appearance in the movies.

Import the babyname dataset in the US

In [ ]:
# we will extract only the characters from the top 100 movies in the dataset based movieDF["Movie box office revenue"]
top100_characters = characterDF[characterDF["Wikipedia movie ID"].isin(movieDF.sort_values(by="Movie box office revenue",ascending=False)["Wikipedia movie ID"].head(100))]

PATH_IN = '.\\DATA\\AddedDatasets\\Name'

baby_nameDF = DataImport.OpenBabyNameDf(PATH_IN)

##### Extract valid firstnames from character firstname

By a simple match, we are able to recognize firstnames that exist in the babyname dataset. We use the external function 'extract_top_firstname' (please see ```DatasetTreatment.py```), that we developed, which returns the fistnames that exist for a character firstname

In [ ]:
%%capture
# Create a set of valid first names from baby_nameDF["Firstname"]
valid_firstnames = set(baby_nameDF["Firstname"])
name_occurrences = baby_nameDF[baby_nameDF["Firstname"].isin(valid_firstnames)].groupby("Firstname")["Number"].sum().reset_index()
name_occurrences_dict = dict(zip(name_occurrences["Firstname"], name_occurrences["Number"]))

# Apply the function to the "Character Name" column
top100_characters["Character firstname"] = top100_characters["Character Name"].apply(lambda x: DatasetTreatment.extract_top_firstname(x,valid_firstnames,name_occurrences_dict))
top100_characters.dropna(subset=["Character firstname"], inplace=True)

name_occurrences["First year appearance"] = baby_nameDF[baby_nameDF["Firstname"].isin(valid_firstnames)].groupby("Firstname")["Year"].min().reset_index()["Year"]
top100_characters["Year"] = pd.to_datetime(top100_characters["Movie release date"]).dt.year

##### Study on the babies firstname recensed in the US after their presence in a movie

To do so, we will merge the movie dataset with the character dataset so that we will be able to link from which movie a character is from.

In [ ]:
# Merge the DataFrames on the "Firstname" column
merged_data = top100_characters.merge(name_occurrences, left_on="Character firstname", right_on="Firstname", how="left")

# Convert the "First year appearance" and "Year" columns to integers
merged_data["First year appearance"] = merged_data["First year appearance"].astype(int)
merged_data["Year"] = merged_data["Year"].astype(int)

# Filter the rows where "First year appearance" is greater than "Year" + 10
filtered_data = merged_data[merged_data["First year appearance"] > merged_data["Year"]]
filtered_data = filtered_data.merge(movieDF[["Freebase movie ID","Movie name"]], left_on="Freebase movie ID", right_on="Freebase movie ID", how="left")

# Calculate the number of names and their films
num_names_with_films = len(filtered_data)

# Print the result
print("Number of names with their films where the name wasn't present before the film in name_occurrences:", num_names_with_films)

In [ ]:
# Calculate the number of names and their films
num_names_with_films = len(filtered_data)

# Log-transform the frequencies
filtered_data["LogFrequency"] = np.log1p(filtered_data["Number"].copy())

# Generate the word cloud with a specific colormap (e.g., 'viridis')
wordcloud = WordCloud(
    max_font_size=50,
    max_words=100,
).generate_from_frequencies(dict(zip(filtered_data["Character firstname"], filtered_data["LogFrequency"])))

# Convert the word cloud data to a DataFrame
wordcloud_df = pd.DataFrame({"label": wordcloud.words_.keys(), "log_frequency": wordcloud.words_.values()})
wordcloud_df["Character Name"] = wordcloud_df["label"].map(filtered_data.groupby("Character firstname")["Character Name"].max())
wordcloud_df["First year appearance"] = wordcloud_df["label"].map(filtered_data.groupby("Character firstname")["First year appearance"].min())
wordcloud_df["Movie year"] = wordcloud_df["label"].map(filtered_data.groupby("Character firstname")["Year"].unique())
wordcloud_df["Movie name"] = wordcloud_df["label"].map(filtered_data.groupby("Character firstname")["Movie name"].unique())

# Create a treemap using Plotly Express with a different color scale
fig = go.Figure(go.Treemap(
    labels=wordcloud_df["label"],
    parents=[""] * (len(wordcloud_df["label"])+1),
    values=wordcloud_df["log_frequency"],
    root_color="white",
    marker_colorscale='Blues',
    hovertext=["<b>Character Name:</b> {}<br><b>First year appearance:</b> {}<br><b>Movie(s):</b><br>{}".format(name, first_year, "<br>".join("{}: {}".format(y, n) for y, n in sorted(zip(movie_year, movie_name)))) for name, first_year, movie_year, movie_name in zip(wordcloud_df["Character Name"], wordcloud_df["First year appearance"], wordcloud_df["Movie year"], wordcloud_df["Movie name"])],
))

# Update layout with log scale for size
fig.update_layout(
    height=500,
    margin=dict(l=20, r=20, b=20, t=80),
    title=dict(
        font=dict(size=20),  # Increase title font size
    ),
)

SaveOrShowFigure.export_plots(fig, 'treemap_top_100_characters')

As evident from the word cloud map, certain names, such as 'Kenobi' from Star Wars or 'Ollivander' from Harry Potter, bear a high likelihood of being influenced by movies. For sure, these firstnames weren't present before in the birth register and some of them (those from famous saga like Star Wars, Harry Potter, The Lord of Rings) have between less than 3 years of difference between both apperances in movies and then in a birth register. This observation underscores the intriguing phenomenon that some names are crafted by cinematic works. it could be particularly prevalent in fantasy genres where the creative invention of names is more common and we will try to highlight the genre provenance of these names.

In [ ]:
probable_newFirstnameDF = filtered_data.drop_duplicates()
probable_newFirstnameDF = movieDF[movieDF["Movie name"].isin(probable_newFirstnameDF["Movie name"])].sort_values(by="Movie box office revenue",ascending=False)

print("Number of names with their films where the name wasn't present before the film in name_occurrences:", len(probable_newFirstnameDF["Movie name"].unique()))

# print also the position of the film
genres = probable_newFirstnameDF["Movie genres"].str.split(",").explode().reset_index(drop=True)
genres = pd.DataFrame(genres.str.split(":").tolist(),columns=["Movie genres ID","Movie genres"])
genres["Movie genres ID"] = genres["Movie genres ID"].str.split("\"").str[1].astype(str)
genres["Movie genres name"] = genres["Movie genres"].str.split("\"").str[1].astype(str)
genre_counts = genres['Movie genres name'].value_counts()
genre_counts["Other negligible genres"] = genre_counts[genre_counts < 5].sum()
genre_counts = genre_counts[genre_counts > 5]

fig = px.pie(genre_counts, values=genre_counts.values, names=genre_counts.index, title='Repartition of the genres of the movie with new firstnames')
fig.update_traces(textposition='outside', textinfo='percent+label')
fig.update_layout(
    height=500,
    margin=dict(l=20, r=20, b=20, t=80),
    title=dict(
        font=dict(size=20),
    ),
    plot_bgcolor='rgba(0,0,0,0)',
)

SaveOrShowFigure.export_plots(fig, 'piechart_repartition_of_the_genres_in_the_top_400_movies')

# what is the mean of the box office revenue of the movies with new firstnames
print("Mean of the box office revenue of the movies with new firstnames:", probable_newFirstnameDF["Movie box office revenue"].median())

# Find the ranking of this mean
print("Ranking of the mean of the box office revenue of the movies with new firstnames:", probable_newFirstnameDF["Movie box office revenue"].rank(ascending=False).median())

This plot confirms our intuition that the apparition of a name in a movie is more likely to be in a film with a high box office revenue and that the main genres are Adventure, Action, Fantasy. However, we must be careful with this result as one movie is often associated with multiple genres. For example, Harry Potter is categorized in at least the top 4 genres in the above plot. Hence, our interpretation is more that the top genres are more likely to create new firstnames due to the essence of the genre (e.g. fantasy).

#### 2.3 Study on general trends of movies firstnames over the year

We're also interested in checking out how names have changed over time. It's not just about the new names or ones from movies. We want to see if the names people use in real life match up with the names in movies. This way, we can get an idea of the most likely names for our characters based on the time they're set in and hence help our fellow aliend friends to understand the correct firstnames distribution in the human population over the years.

In [ ]:
characterDF["Year"] = pd.to_datetime(characterDF["Movie release date"]).dt.year

# Apply the function to the "Character Name" column
characterDF["Character firstname"] = characterDF["Character Name"].apply(lambda x: DatasetTreatment.extract_top_firstname(x,valid_firstnames,name_occurrences_dict))
Firstname_characterDF = characterDF
Firstname_characterDF.dropna(subset=["Character firstname"], inplace=True)

# Create a new DataFrame with the number of occurrences of each firstname groupping by the counting given in baby_nameDF of this firstname for each year
name_occurrences_by_year = baby_nameDF.groupby(["Firstname", "Year", "Sexe"])["Number"].sum().reset_index()
name_occurrences_by_year = name_occurrences_by_year[name_occurrences_by_year["Firstname"].isin(characterDF["Character firstname"].unique())]
name_occurrences_by_year["Year"] = pd.to_datetime(name_occurrences_by_year["Year"], format='%Y')

From the actor genre of each character, it is possible to reduce the mixed names to a single genre. This will help us to have a better understanding of the trends in firstnames. The US baby firstnames datasets is polluted by mixed names that are, in reality, "well-defined".

In [ ]:
# Sort out the most common gender for all unique firstnames
commonGenderDF = characterDF[['Character firstname', 'Actor gender']].dropna(subset=['Actor gender']).copy()
commonGenderDF['Binary genre'] = commonGenderDF['Actor gender'].map({'M': 0, 'F': 1})
commonGenderDF = commonGenderDF.groupby('Character firstname')['Binary genre'].mean().reset_index()
commonGenderDF['Common gender'] = commonGenderDF['Binary genre'].apply(lambda x: 'F' if x > 0.5 else 'M')

### Trying to see if the tendency is that movies are in advance or copy what existed previously.

To lighten the study, we will only focus on the top 400 firstnames in the US. The goal of this study is to have a better understanding of the firstnames in movies compared to what we have in reality. At the end, we are more focusing on if they both follow the same trends with a certain delay or not. This probable correlation will help us to name our human.

In [ ]:
from fuzzywuzzy import fuzz
USAmovieDF = movieDF.copy()
USAmovieDF["Score"] = movieDF["Movie countries"].apply(lambda x: fuzz.partial_ratio(x, "United States"))
USAmovieDF = USAmovieDF[USAmovieDF["Score"] > 80]
USAmovieDF = USAmovieDF.loc[:, ["Movie countries", "Freebase movie ID"]]
USAFirstname_characterDF = Firstname_characterDF.merge(USAmovieDF, on="Freebase movie ID", how="inner")
USAFirstname_characterDF = USAFirstname_characterDF.merge(movieDF[movieDF["Movie box office revenue"].notna()], on="Freebase movie ID", how="inner")

firstname_occurrences_by_year = USAFirstname_characterDF.groupby(["Freebase movie ID", "Year", "Character firstname", "Actor gender"]).size().reset_index(name="Number of Occurrences")

baby_nameDF = baby_nameDF.merge(commonGenderDF, how="right", left_on=["Firstname", "Sexe"], right_on=["Character firstname", "Common gender"])
baby_nameDF["Year"] = pd.to_datetime(baby_nameDF["Year"], format='%Y').dt.year
firstname_occurrences_by_year["Year"] = pd.to_datetime(firstname_occurrences_by_year["Year"], format='%Y').dt.year

In [ ]:
min_year_by_firstname = firstname_occurrences_by_year.groupby("Character firstname")["Year"].min()
max_year_by_firstname = firstname_occurrences_by_year.groupby("Character firstname")["Year"].max()
firstnames_to_keep = min_year_by_firstname.index
baby_nameDF_reduced = baby_nameDF[baby_nameDF["Firstname"].isin(firstnames_to_keep)]
filtered_baby_nameDF = baby_nameDF_reduced.groupby("Firstname").apply(lambda x: x[(x["Year"] >= min_year_by_firstname.loc[x.name]) & (x["Year"] <= max_year_by_firstname.loc[x.name])]).reset_index(drop=True)

Firstnames_fromBabyDF = filtered_baby_nameDF.merge(firstname_occurrences_by_year, left_on=["Firstname", "Year"], right_on=["Character firstname", "Year"], how="left")
Firstnames_fromBabyDF = Firstnames_fromBabyDF.drop(columns=["Character firstname_x", "Character firstname_y"])
Firstnames_fromBabyDF = Firstnames_fromBabyDF.rename(columns={"Number":"Number of birth","Count":"Number of occurrences in movies", "Sexe": "Gender"})

Selection choice of 10 names: James, Julie, Jackson, Hannah, Alice, George, Carol, Frank

In [ ]:
births_by_year = baby_nameDF.groupby("Year")["Number"].sum().reset_index()
firstnames_by_year = baby_nameDF.groupby("Year")["Firstname"].count().reset_index()

websiteFirstnameTrend = Firstnames_fromBabyDF.sort_values(by="Year").copy()
websiteFirstnameTrend["Frequency of Birth"] = websiteFirstnameTrend.apply(lambda row: row["Number of birth"] / births_by_year[births_by_year["Year"] == row["Year"]]["Number"].values[0], axis=1)

websiteBabyDF = websiteFirstnameTrend.copy()
websiteFirstnameTrend = websiteFirstnameTrend[websiteFirstnameTrend["Freebase movie ID"].notna()]

websiteFirstnameTrend['Number of Occurrences'] = websiteFirstnameTrend.groupby(['Year', 'Firstname']).transform('size')
websiteFirstnameTrend.rename(columns={"Number of Occurrences":"Number of occurrences in movies"}, inplace=True)

websiteFirstnameTrend["Frequency in Movies"] = websiteFirstnameTrend.apply(lambda row: row["Number of occurrences in movies"] / firstnames_by_year[firstnames_by_year["Year"] == row["Year"]]["Firstname"].values[0], axis=1)
websiteBabyDF["Normalized frequency of birth"] = websiteBabyDF.groupby("Firstname")["Frequency of Birth"].transform(lambda x: x / x.max())
websiteFirstnameTrend["Normalized frequency in movies"] = websiteFirstnameTrend.groupby("Firstname")["Frequency in Movies"].transform(lambda x: x / x.max())

websiteFirstnameTrend = websiteFirstnameTrend.merge(commonGenderDF, left_on="Firstname", right_on="Character firstname", how="inner")

In [ ]:
window_length = 10
polyorder = 2
websiteFirstnameTrend["Smooth normalized frequency in movies"] = None
for firstname in websiteFirstnameTrend["Firstname"].unique():
    data = websiteFirstnameTrend[websiteFirstnameTrend["Firstname"] == firstname].sort_values(by="Year")["Normalized frequency in movies"]
    if len(data) < window_length:
        continue
    smoothed_values = savgol_filter(data, window_length=window_length, polyorder=polyorder)
    websiteFirstnameTrend.loc[websiteFirstnameTrend["Firstname"] == firstname, "Smooth normalized frequency in movies"] = smoothed_values

websiteFirstnameTrend["Mean smooth normalized frequency in movies"] = websiteFirstnameTrend.groupby(["Firstname", "Year"])["Smooth normalized frequency in movies"].transform("mean")
websiteFirstnameTrend["Smooth normalized frequency in movies"] = websiteFirstnameTrend.groupby(["Firstname"])["Smooth normalized frequency in movies"].transform(lambda x: x / x.max())

websiteFirstnameTrend = websiteFirstnameTrend[websiteFirstnameTrend["Normalized frequency in movies"].notna()]
websiteFirstnameTrend = websiteFirstnameTrend[websiteFirstnameTrend["Smooth normalized frequency in movies"].notna()]

In [ ]:
# do the savgol filter of the Smooth normalized frequency in movies
window_length = 10
polyorder = 2
websiteFirstnameTrend["Smooth normalized mean frequency in movies"] = None
for firstname in websiteFirstnameTrend["Firstname"].unique():
    data = websiteFirstnameTrend[websiteFirstnameTrend["Firstname"] == firstname].sort_values(by="Year")["Mean smooth normalized frequency in movies"]
    if len(data) < window_length:
        continue
    smoothed_values = savgol_filter(data, window_length=window_length, polyorder=polyorder)
    websiteFirstnameTrend.loc[websiteFirstnameTrend["Firstname"] == firstname, "Smooth normalized mean frequency in movies"] = smoothed_values

In [ ]:
WeightDF = USAFirstname_characterDF.groupby(["Character firstname"])["Movie box office revenue"].sum().reset_index()
WeightDF = WeightDF[WeightDF["Character firstname"].isin(websiteFirstnameTrend["Firstname"].unique())]
WeightDF["Weight"] = WeightDF["Movie box office revenue"] / WeightDF["Movie box office revenue"].max()

In [ ]:
fig = make_subplots(specs=[[{"secondary_y": True}]])

color1 = 'blue'
color2 = 'rgba(255, 160, 0, 1)'
color3 = 'rgba(255, 160, 0, 0.4)'

# Caroline
Initialfirstname = "Taylor"
fig.add_trace(go.Scatter(
    x=websiteBabyDF[websiteBabyDF["Firstname"] == Initialfirstname].sort_values(by="Year")["Year"],
    y=websiteBabyDF[websiteBabyDF["Firstname"] == Initialfirstname].sort_values(by="Year")["Normalized frequency of birth"],
    mode='lines',
    name="Normalized frequency of birth",
    line=dict(color=color1),
    legendgroup='Normalized frequency of birth',
    showlegend=True,
    visible=True
))
fig.add_trace(go.Scatter(
    x=websiteFirstnameTrend[websiteFirstnameTrend["Firstname"] == Initialfirstname].groupby(["Firstname", "Year"])["Smooth normalized mean frequency in movies"].mean().reset_index()["Year"],
    y=websiteFirstnameTrend[websiteFirstnameTrend["Firstname"] == Initialfirstname].groupby(["Firstname", "Year"])["Smooth normalized mean frequency in movies"].mean().reset_index()["Smooth normalized mean frequency in movies"],
    mode='lines',
    name="Normalized mean frequency in movies",
    line=dict(color=color2),
    legendgroup='Normalized mean frequency in movies',
    showlegend=True,
    visible=True
))
fig.add_trace(go.Scatter(
    x=websiteFirstnameTrend[websiteFirstnameTrend["Firstname"] == Initialfirstname].sort_values(by="Year")["Year"],
    y=websiteFirstnameTrend[websiteFirstnameTrend["Firstname"] == Initialfirstname].sort_values(by="Year")["Smooth normalized frequency in movies"],
    mode='markers',
    name="Normalized individual frequency in movies",
    marker=dict(symbol='circle-open', color=color3),
    legendgroup='Normalized individual frequency in movies',
    showlegend=True,
    visible=True
))


firstnames = ["Eva", "Henry", "Jackson", "Jason", "Luke", "Mary"]

for firstname in firstnames:
    fig.add_trace(go.Scatter(
        x=websiteBabyDF[websiteBabyDF["Firstname"] == firstname].sort_values(by="Year")["Year"],
        y=websiteBabyDF[websiteBabyDF["Firstname"] == firstname].sort_values(by="Year")["Normalized frequency of birth"],
        mode='lines',
        name="Normalized frequency of birth",
        line=dict(color=color1),
        legendgroup='Normalized frequency of birth',
        showlegend=True,
        visible=False
    ))
    fig.add_trace(go.Scatter(
        x=websiteFirstnameTrend[websiteFirstnameTrend["Firstname"] == firstname].groupby(["Firstname", "Year"])["Smooth normalized mean frequency in movies"].mean().reset_index()["Year"],
        y=websiteFirstnameTrend[websiteFirstnameTrend["Firstname"] == firstname].groupby(["Firstname", "Year"])["Smooth normalized mean frequency in movies"].mean().reset_index()["Smooth normalized mean frequency in movies"],
        mode='lines',
        name="Smooth normalized frequency in movies",
        line=dict(color=color2),
        legendgroup='Normalized mean frequency in movies',
        showlegend=True,
        visible=False
    ))
    fig.add_trace(go.Scatter(
        x=websiteFirstnameTrend[websiteFirstnameTrend["Firstname"] == firstname].sort_values(by="Year")["Year"],
        y=websiteFirstnameTrend[websiteFirstnameTrend["Firstname"] == firstname].sort_values(by="Year")["Smooth normalized frequency in movies"],
        mode='markers',
        name="Smooth normalized frequency in movies",
        marker=dict(symbol='circle-open', color=color3),
        legendgroup='Normalized individual frequency in movies',
        showlegend=True,
        visible=False
    ))


fig.update_layout(
    updatemenus=[
        dict(
            active=0,
            buttons=list([
                dict(
                    label=Initialfirstname,
                    method="update",
                    args=[{"visible": [True, True, True, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False]}]
                ),
                dict(
                    label=firstnames[0],
                    method="update",
                    args=[{"visible": [False, False, False, True, True, True, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False]}]
                ),
                dict(
                    label=firstnames[1],
                    method="update",
                    args=[{"visible": [False, False, False, False, False, False, True, True, True, False, False, False, False, False, False, False, False, False, False, False, False]}]
                ),
                dict(
                    label=firstnames[2],
                    method="update",
                    args=[{"visible": [False, False, False, False, False, False, False, False, False, True, True, True, False, False, False, False, False, False, False, False, False]}]
                ),
                dict(
                    label=firstnames[3],
                    method="update",
                    args=[{"visible": [False, False, False, False, False, False, False, False, False, False, False, False, True, True, True, False, False, False, False, False, False]}]
                ),
                dict(
                    label=firstnames[4],
                    method="update",
                    args=[{"visible": [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, True, True, True, False, False, False]}]
                ),
                dict(
                    label=firstnames[5],
                    method="update",
                    args=[{"visible": [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, True, True, True]}]
                ),
            ]),
            direction="down",
            showactive=True,
            x=0.5,
            xanchor="center",
            y=1.15,
            yanchor="top"
        ),
    ]
)


fig.update_xaxes(showticklabels=True, title_text='Year')  # Show x-axis tick labels and set x-axis title
fig.update_yaxes(showticklabels=True, title_text='Normalized frequency', secondary_y=False)  # Show y-axis tick labels and set y-axis title

fig.update_layout(
    title_text='Normalized frequency of some arbitrary chosen firstnames in movies and in birth',
    # plot_bgcolor='rgba(0,0,0,0)',
    legend=dict(
        orientation="h",
        yanchor="auto",
        y=-0.3,
        xanchor="auto",
        x=0.5
    )
)

SaveOrShowFigure.export_plots(fig, 'linechart_normalized_frequency_of_some_arbitrary_chosen_firstnames_in_movies_and_in_birth')

In [ ]:
%%capture
cross_correlation_results = pd.DataFrame(columns=["FirstName", "Cross-Correlation", "Time Delay"])

for firstname in websiteFirstnameTrend["Firstname"].unique():
    x = websiteBabyDF[websiteBabyDF["Firstname"] == firstname]["Normalized frequency of birth"]
    y = websiteFirstnameTrend[websiteFirstnameTrend["Firstname"] == firstname]["Smooth normalized frequency in movies"]*WeightDF[WeightDF["Character firstname"] == firstname]["Weight"].values[0]
    cross_correlation = correlate(x, y, mode="full")
           
    time_delay = np.argmax(cross_correlation) - len(x) + 1
   
    result_df = pd.DataFrame({"FirstName": [firstname], "Cross-Correlation": [cross_correlation], "Time Delay": [float(time_delay)]})
    cross_correlation_results = pd.concat([cross_correlation_results, result_df], ignore_index=True)

In [ ]:
TOP = 200
top_firstname = websiteFirstnameTrend.groupby("Firstname")["Number of birth"].sum().sort_values(ascending=False).head(TOP).index
df_not_reduced = cross_correlation_results.copy()
df = cross_correlation_results[cross_correlation_results["FirstName"].isin(top_firstname.values)]

dflist = df.groupby('Time Delay')['FirstName'].apply(lambda x: sorted(x)).reset_index()
dflist_not_reduced = df_not_reduced.groupby('Time Delay')['FirstName'].apply(lambda x: sorted(x)).reset_index()

dflist.columns = ['Time Delay', 'FirstNameList']
dflist_not_reduced.columns = ['Time Delay', 'FirstNameList']

dflist_0 = dflist[dflist["Time Delay"] == 0]
dflist_0_not_reduced = dflist_not_reduced[dflist_not_reduced["Time Delay"] == 0]

dflist = dflist[dflist["Time Delay"] != 0]
dflist_not_reduced = dflist_not_reduced[dflist_not_reduced["Time Delay"] != 0]

dflist['colors'] = dflist['Time Delay'].astype(float)
dflist_not_reduced['colors'] = dflist_not_reduced['Time Delay'].astype(float)

dflist['FirstNameList'] = dflist['FirstNameList'].apply(lambda names: ', '.join(names))
dflist['Full list name'] = dflist_not_reduced['FirstNameList'].apply(lambda names: ', '.join(names))
dflist = dflist.sort_values(by="Time Delay", ascending=True).reset_index(drop=True)

fig = px.bar(
    dflist,
    x='Time Delay',
    y=dflist.index,
    color='colors', 
    text='FirstNameList',
    hover_data={'Full list name': True},  # Use hover_data instead of hover_text
    orientation='h',
    width=1500,
    height=1000,
    color_continuous_scale='RdYlGn',
    color_continuous_midpoint= 4.14,
)
fig.update_traces(
    textfont_size=12, 
    textangle=0, 
    textposition="outside",
    cliponaxis=True,
)
fig.update_xaxes(side="top")

fig.update_layout(
    height=1500,
    width=1000,
    yaxis_title='',
    xaxis_title='Time delay (year)',
    title='Comparison of time delay for firstnames between birth and movies',
    xaxis=dict(
        title_font=dict(size=10),
        tickfont=dict(size=8),
    ),
    font=dict(size=20),
    title_x=0.5,
    yaxis=dict(
        tickvals=dflist.index,
        ticktext=dflist['FirstNameList'],
        tickfont=dict(size=8),
        showticklabels=False,
        showgrid=False
    ),
    showlegend=True,
    plot_bgcolor="white",
    margin=dict(t=150, b=40),
    legend=dict(
        orientation="v",
        x=1000,
        y=0.5,
        title_text="Time Delay",
        title_font=dict(size=12),
        font=dict(size=10),
    )
)

fig.update_coloraxes(colorbar_title="Time Delay")
fig.update_coloraxes(colorbar_tickfont_size=8)
fig.update_coloraxes(colorbar_len=0.6, colorbar_thickness=20)

str1="Movies in advance of Birth"
str2="Movies after Birth"
fig.add_annotation(x=-38, y=98, text=str1, font=dict(size=16), showarrow=False)
fig.add_annotation(x=25, y=35, text=str2, font=dict(size=16), showarrow=False)

first_names = dflist_0["FirstNameList"].values[0]
formatted_names = ",\n".join(", ".join(first_names[i:i+10]) for i in range(0, len(first_names), 10))
print("The first names that have 0 time delay are:")
print(formatted_names)

SaveOrShowFigure.export_plots(fig, 'barplot_comparison_of_time_delay_for_firstnames_between_birth_and_movies')

In [ ]:
import plotly.graph_objects as go

# Count the unique Time Delay values
time_delay_counts = cross_correlation_results["Time Delay"].value_counts()

# Create a scatter plot of the count of unique Time Delay values
fig = go.Figure(data=go.Scatter(
    x=time_delay_counts.index,
    y=time_delay_counts.values,
    mode='markers',
    marker=dict(
        symbol='x-thin-open',
        size=8,
        color='blue'
    )
))

# Set plot title and axis labels
fig.update_layout(
    title='Dot Plot of Count of Unique Time Delay Values',
    xaxis_title='Time Delay',
    yaxis_title='Count (log scale)'
)

# Set y-axis to logarithmic scale
fig.update_yaxes(type="log")

# Print the size of cross_correlation_results["Time Delay"]
print("The size of cross_correlation_results is:", len(cross_correlation_results["Time Delay"]))

SaveOrShowFigure.export_plots(fig, 'dotplot_count_of_unique_time_delay_values')

### Let's see for the top 10%

Assuming the top 10% of most used firstnames characters in babyUS

In [ ]:
# common firstnames assumed to be the top 40 in baby_nameDF
top40_firstnames = baby_nameDF.groupby("Firstname")["Number"].sum().reset_index().sort_values(by="Number",ascending=False).head(400)["Firstname"].values

# do the mean of Time Delay in df of this top 40
mean_time_delay = df[df["FirstName"].isin(top40_firstnames)]["Time Delay"].mean()

#print the 40 firstnames kept
print("The 40 firstnames kept are:")
print(top40_firstnames)
print("The mean time delay for the top 40 firstnames is {:.2f} years.".format(mean_time_delay))

In [ ]:
# Calculate the mean of Actor age at movie release in years from characterDF / Actor age at date release is in date format
mean_actor_age = characterDF["Actor age at movie release"].mean()
mean_date_release = movieDF["Movie release date"].mean()

# Difference of year between both
mean_age_difference = mean_date_release.year - mean_actor_age.year
print("The delay between the mean age of the actor and the mean date release of the movie is {} years.".format(mean_age_difference))

# https://www.pewresearch.org/short-reads/2023/05/09/facts-about-u-s-mothers/sr_23-05-09_mothersday_1/

# Can we recreate earth base on the Map of datasets

Set the country of the movie

In [ ]:
movieDF['Movie_countries'] = movieDF['Movie countries'].apply( lambda x: list(eval(x).values()))
countriesDF = movieDF['Movie_countries'].copy()

countries_uniqueDF = countriesDF.explode().dropna()
countries_uniqueDF = pd.DataFrame(countries_uniqueDF.value_counts().reset_index())
countries_uniqueDF.columns = ['Country', 'Number']

Create adjacency matrix

In [ ]:
import scipy.sparse as sparse

unique_countries = countries_uniqueDF['Country'].unique()
adjacency_matrix = sparse.lil_matrix((len(unique_countries), len(unique_countries)), dtype=np.int32)

# Iterate over each row in the countries column
for countries in countriesDF:
    countries_list = countries
    
    # Update the adjacency matrix for each pair of countries
    for i in range(len(countries_list)):
        for j in range(i+1, len(countries_list)):
            country1 = countries_list[i]
            country2 = countries_list[j]
            
            # Find the indices of the countries in the unique_countries list
            index1 = np.where(unique_countries == country1)[0][0]
            index2 = np.where(unique_countries == country2)[0][0]
            
            # Increment the corresponding entry in the adjacency matrix
            adjacency_matrix[index1, index2] += 1
            adjacency_matrix[index2, index1] += 1
            
# Add the diagonal entries to adjacency matrix as the weight of self-loops
for i in range(len(unique_countries)):
    adjacency_matrix[i, i] = countries_uniqueDF[countries_uniqueDF["Country"]==unique_countries[i]]["Number"].values[0]

# Convert the adjacency matrix to a dense matrix and apply log to the values
adjacency_matrix_dense = adjacency_matrix.toarray()
adjacency_matrix_log = np.log1p(adjacency_matrix_dense + 1)

# Convert the adjacency matrix to a DataFrame
adjacency_matrix_df = pd.DataFrame(adjacency_matrix_dense, index=unique_countries, columns=unique_countries)

# replace all non-zero values with 1 in a new array
adjacency_matrix_ones = np.where(adjacency_matrix_dense > 0, 1, 0)

Prepare the function to create the graph

In [ ]:
import matplotlib.pyplot as plt
import matplotlib as mpl
import networkx as nx
import numpy as np

# Helper function for printing various graph properties
def describe_graph(G):
    print(G)
    if nx.is_connected(G):
        print("Avg. Shortest Path Length: %.4f" %nx.average_shortest_path_length(G))
        print("Diameter: %.4f" %nx.diameter(G)) # Longest shortest path
    else:
        print("Graph is not connected")
        print("Diameter and Avg shortest path length are not defined!")
    print("Sparsity: %.4f" %nx.density(G))  # #edges/#edges-complete-graph
    # #closed-triplets(3*#triangles)/#all-triplets
    print("Global clustering coefficient aka Transitivity: %.4f" %nx.transitivity(G))

In [ ]:
G = nx.from_numpy_array(adjacency_matrix_dense)
NetworkPlot.describe_graph(G)

websiteNetworkCountries = pd.DataFrame(columns=["Country", "Degree", "Closeness centrality", "Katz centrality", "PageRank centrality"])
websiteNetworkCountries["Country"] = adjacency_matrix_df.index.tolist()
websiteNetworkCountries["Degree"] = dict(G.degree)
websiteNetworkCountries["Closeness centrality"] = nx.closeness_centrality(G)
websiteNetworkCountries["Katz centrality"] = nx.katz_centrality_numpy(G)
websiteNetworkCountries["PageRank centrality"] = nx.pagerank(G)
websiteNetworkCountries["Eigenvector centrality"] = nx.eigenvector_centrality_numpy(G)

pos = nx.spring_layout(G, k=1.4, seed=1, weight=tuple(websiteNetworkCountries["Eigenvector centrality"]))

G12_countries = ["Australia", "Belgium", "Canada", "France", "Germany", "Italy", "Japan", "Netherlands", "Spain", "Sweden", "Switzerland", "United Kingdom", "United States of America"]
G12_countries_index = []
for country in G12_countries:
    indices = np.where(websiteNetworkCountries["Country"] == country)[0]
    if len(indices) > 0:
        G12_countries_index.append(indices[0])
G12_pos = {i: pos[i] for i in G12_countries_index}
G12_DF = pd.DataFrame({"Country": G12_countries, "Index": G12_countries_index, "Pos": [G12_pos[i] for i in G12_countries_index]})
G12_DF[['Pos x', 'Pos y']] = pd.DataFrame(G12_DF['Pos'].tolist(), index=G12_DF.index)
G12_DF = G12_DF.drop('Pos', axis=1)

edge_x = []
edge_y = []
for edge in G.edges():
    x0, y0 = pos[edge[0]]
    x1, y1 = pos[edge[1]]
    edge_x.append(x0)
    edge_x.append(x1)
    edge_x.append(None)
    edge_y.append(y0)
    edge_y.append(y1)
    edge_y.append(None)

edge_trace = go.Scatter(
    x=edge_x, y=edge_y,
    line=dict(width=0.08, color='white'),
    hoverinfo='none',
    mode='lines')

node_x = []
node_y = []
for node in G.nodes():
    x, y = pos[node]
    node_x.append(x)
    node_y.append(y)
    
d = dict(G.degree)

node_trace = go.Scatter(
    x=node_x, y=node_y,
    mode='markers+text',
    hoverinfo='text',
    textposition='top center',
    marker=dict(
        showscale=True,
        colorscale='Hot',
        reversescale=False,
        color=[],
        size=[4*np.log(d[i]) for i in G.nodes()],
        colorbar=dict(
            thickness=12,
            title='Node Connections',
            xanchor='left',
            titleside='right'
        ),
        line=dict(width=0.2, color='black')  # Remove the line around each node
    ),
    texttemplate=unique_countries,
    textfont=dict(
        size=[6 for i in range(len(node_x))]
    ),
    hovertext = websiteNetworkCountries[["Country", "Eigenvector centrality", "Degree", "Closeness centrality", "Katz centrality", "PageRank centrality"]].apply(lambda row: "<br>".join([f"{col}: {row[col]}" for col in websiteNetworkCountries[["Country", "Degree", "Eigenvector centrality", "Closeness centrality", "Katz centrality", "PageRank centrality"]].columns]), axis=1)
)

node_adjacencies = []
node_text = []
country_names = adjacency_matrix_df.index.tolist()
for node, adjacencies in enumerate(G.adjacency()):
    node_adjacencies.append(len(adjacencies[1]))
    node_text.append(country_names[node] + ': ' + str(len(adjacencies[1])))

node_trace.marker.color = node_adjacencies
node_trace.text = node_text

fig = go.Figure(data=[edge_trace, node_trace],
    layout=go.Layout(
        width=800,
        height=800,
        title='Earth map made by the aliens',
        titlefont_size=16,
        title_x=0.45,  # Set the title position to the center
        title_y=0.99,  # Set the title position to the top
        showlegend=False,
        hovermode='closest',
        margin=dict(b=20, l=5, r=5, t=40),
        xaxis=dict(showgrid=False, zeroline=False, showticklabels=False),
        yaxis=dict(showgrid=False, zeroline=False, showticklabels=False),
        paper_bgcolor= "rgba(197, 227, 231, 0.8)",
        plot_bgcolor= "rgba(197, 227, 231, 0)",
    )
)


center_x = 0
center_y = 0
radius_4 = 1.1
fig.add_shape(
    type="circle",
    x0=center_x - radius_4,
    y0=center_y - radius_4,
    x1=center_x + radius_4,
    y1=center_y + radius_4,
    line=dict(color="black", width=0.5),
    fillcolor='rgba(255, 255, 0, 0.1)',
    layer='below',
)

# add a circle that encircles all node positions in G12_DF
center_x = np.mean(G12_DF["Pos x"])
center_y = np.mean(G12_DF["Pos y"])
radius = max(np.sqrt((G12_DF["Pos x"] - center_x)**2 + (G12_DF["Pos y"] - center_y)**2))

fig.add_shape(
    type="circle",
    x0=center_x - radius,
    y0=center_y - radius,
    x1=center_x + radius,
    y1=center_y + radius,
    line=dict(color="black", width=1),
    fillcolor='rgba(100, 255, 100, 0.1)',
    layer='below',
)

export_plots(fig, "network_countries")